    .d-flex-justify-content-center-align-items-center
    {
		width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
	.line-text-center{
		text-align: center;
		display: flex;
	}
	.line-text-justify{
		text-align: justify;
		display: flex;
	}
    .line-height-center
	{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center
	}
	.line-content-42{
		width: 42%;
		flex-wrap: wrap;
	}
	.line-content-100{
		width: 100%;
		flex-wrap: wrap;
	}
	.line-content-28{
		width: 28%;
		flex-wrap: wrap;
	}
	.line-content-100-fix{
		width: 40%;
        flex-wrap: wrap;
	}
	.line-img-1{
		width: 80%;
		display: inline;
	}
	.line-img-2{
		width: 20%;
		flex-wrap: 20%;
	}
	@media  screen and (min-width: 360px) and (max-width: 767px)
	{
		.line-height-center
		{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}

	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}

	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}

	@media  screen and (min-width: 1440px)
	{

	}

