	.font-raleway-100
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 100;
		font-style: normal;
	}
	.font-raleway-200
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 200;
		font-style: normal;
	}
	.font-raleway-300
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	.font-raleway-400
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	.font-raleway-500
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 500;
		font-style: normal;
	}
	.font-raleway-600
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 600;
		font-style: normal;
	}
	.font-raleway-700
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 700;
		font-style: normal;
	}
	.font-raleway-800
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 800;
		font-style: normal;
	}
	.font-raleway-900
	{
		font-family: 'Raleway',sans-serif;
		font-weight: 900;
		font-style: normal;
	}
	.font-roboto-100
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 100;
		font-style: normal;
	}
	.font-roboto-200
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 200;
		font-style: normal;
	}
	.font-roboto-300
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	.font-roboto-400
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	.font-roboto-500
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 500;
		font-style: normal;
	}
	.font-roboto-600
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 600;
		font-style: normal;
	}
	.font-roboto-700
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 700;
		font-style: normal;
	}
	.font-roboto-800
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 800;
		font-style: normal;
	}
	.font-roboto-900
	{
		font-family: 'Roboto',sans-serif;
		font-weight: 900;
		font-style: normal;
	}
	.font-optima-100
	{
		font-family: 'optima',serif;
		font-weight: 100;
		font-style: normal;
	}
	.font-optima-200
	{
		font-family: 'optima',serif;
		font-weight: 200;
		font-style: normal;
	}
	.font-optima-300
	{
		font-family: 'optima',serif;
		font-weight: 300;
		font-style: normal;
	}
	.font-optima-400
	{
		font-family: 'optima',serif;
		font-weight: 400;
		font-style: normal;
	}
	.font-optima-500
	{
		font-family: 'optima',serif;
		font-weight: 500;
		font-style: normal;
	}
	.font-optima-600
	{
		font-family: 'optima',serif;
		font-weight: 600;
		font-style: normal;
	}
	.font-optima-700
	{
		font-family: 'optima',serif;
		font-weight: 700;
		font-style: normal;
	}
	.font-optima-800
	{
		font-family: 'optima',serif;
		font-weight: 800;
		font-style: normal;
	}
	.font-optima-900
	{
		font-family: 'optima',serif;
		font-weight: 900;
		font-style: normal;
	}
	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}

	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}

	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}

	@media  screen and (min-width: 1440px)
	{

	}