.frame-w-100-mh-1
{
	width: 100%;
	min-height: 1%;
}
.frame-w-100-mh-2
{
	width: 100%;
	min-height: 2%;
}
.frame-w-100-mh-3
{
	width: 100%;
	min-height: 3%;
}
.frame-w-100-mh-4
{
	width: 100%;
	min-height: 4%;
}
.frame-w-100-mh-5
{
	width: 100%;
	min-height: 5%;
}
.frame-w-100-mh-6
{
	width: 100%;
	min-height: 6%;
}
.frame-w-100-mh-7
{
	width: 100%;
	min-height: 7%;
}
.frame-w-100-mh-8
{
	width: 100%;
	min-height: 8%;
}
.frame-w-100-mh-9
{
	width: 100%;
	min-height: 9%;
}
.frame-w-100-mh-10,
.frame-w-100-mh-10-fix,
.frame-w-100-mh-10-fix-1,
.frame-w-100-mh-10-fix-2,
.frame-w-100-mh-10-fix-3,
.frame-w-100-mh-10-fix-4,
.frame-w-100-mh-10-fix-5{
	width: 100%;
	min-height: 10%;
}
.frame-w-100-mh-11
{
	width: 100%;
	min-height: 11%;
}
.frame-w-100-mh-12
{
	width: 100%;
	min-height: 12%;
}
.frame-w-100-mh-13
{
	width: 100%;
	min-height: 13%;
}
.frame-w-100-mh-14
{
	width: 100%;
	min-height: 14%;
}
.frame-w-100-mh-15
{
	width: 100%;
	min-height: 15%;
}
.frame-w-100-mh-16
{
	width: 100%;
	min-height: 16%;
}
.frame-w-100-mh-17
{
	width: 100%;
	min-height: 17%;
}
.frame-w-100-mh-18
{
	width: 100%;
	min-height: 18%;
}
.frame-w-100-mh-19
{
	width: 100%;
	min-height: 19%;
}
.frame-w-100-mh-20
{
	width: 100%;
	min-height: 20%;
}
.frame-w-100-mh-21
{
	width: 100%;
	min-height: 21%;
}
.frame-w-100-mh-22
{
	width: 100%;
	min-height: 22%;
}
.frame-w-100-mh-23
{
	width: 100%;
	min-height: 23%;
}
.frame-w-100-mh-24
{
	width: 100%;
	min-height: 24%;
}
.frame-w-100-mh-25
{
	width: 100%;
	min-height: 25%;
}
.frame-w-100-mh-26
{
	width: 100%;
	min-height: 26%;
}
.frame-w-100-mh-27
{
	width: 100%;
	min-height: 27%;
}
.frame-w-100-mh-28
{
	width: 100%;
	min-height: 28%;
}
.frame-w-100-mh-29
{
	width: 100%;
	min-height: 29%;
}
.frame-w-100-mh-30
{
	width: 100%;
	min-height: 30%;
}
.frame-w-100-mh-31
{
	width: 100%;
	min-height: 31%;
}
.frame-w-100-mh-32
{
	width: 100%;
	min-height: 32%;
}
.frame-w-100-mh-33
{
	width: 100%;
	min-height: 33%;
}
.frame-w-100-mh-34
{
	width: 100%;
	min-height: 34%;
}
.frame-w-100-mh-35
{
	width: 100%;
	min-height: 35%;
}
.frame-w-100-mh-36
{
	width: 100%;
	min-height: 36%;
}
.frame-w-100-mh-37
{
	width: 100%;
	min-height: 37%;
}
.frame-w-100-mh-38
{
	width: 100%;
	min-height: 38%;
}
.frame-w-100-mh-39
{
	width: 100%;
	min-height: 39%;
}
.frame-w-100-mh-40
{
	width: 100%;
	min-height: 40%;
}
.frame-w-100-mh-41
{
	width: 100%;
	min-height: 41%;
}
.frame-w-100-mh-42
{
	width: 100%;
	min-height: 42%;
}
.frame-w-100-mh-43
{
	width: 100%;
	min-height: 43%;
}
.frame-w-100-mh-44
{
	width: 100%;
	min-height: 44%;
}
.frame-w-100-mh-45
{
	width: 100%;
	min-height: 45%;
}
.frame-w-100-mh-46
{
	width: 100%;
	min-height: 46%;
}
.frame-w-100-mh-47
{
	width: 100%;
	min-height: 47%;
}
.frame-w-100-mh-48
{
	width: 100%;
	min-height: 48%;
}
.frame-w-100-mh-49
{
	width: 100%;
	min-height: 49%;
}
.frame-w-100-mh-50
{
	width: 100%;
	min-height: 50%;
}
.frame-w-100-mh-51
{
	width: 100%;
	min-height: 51%;
}
.frame-w-100-mh-52
{
	width: 100%;
	min-height: 52%;
}
.frame-w-100-mh-53
{
	width: 100%;
	min-height: 53%;
}
.frame-w-100-mh-54
{
	width: 100%;
	min-height: 54%;
}
.frame-w-100-mh-55
{
	width: 100%;
	min-height: 55%;
}
.frame-w-100-mh-56
{
	width: 100%;
	min-height: 56%;
}
.frame-w-100-mh-57
{
	width: 100%;
	min-height: 57%;
}
.frame-w-100-mh-58
{
	width: 100%;
	min-height: 58%;
}
.frame-w-100-mh-59
{
	width: 100%;
	min-height: 59%;
}
.frame-w-100-mh-60
{
	width: 100%;
	min-height: 60%;
}
.frame-w-100-mh-61
{
	width: 100%;
	min-height: 61%;
}
.frame-w-100-mh-62
{
	width: 100%;
	min-height: 62%;
}
.frame-w-100-mh-63
{
	width: 100%;
	min-height: 63%;
}
.frame-w-100-mh-64
{
	width: 100%;
	min-height: 64%;
}
.frame-w-100-mh-65
{
	width: 100%;
	min-height: 65%;
}
.frame-w-100-mh-66
{
	width: 100%;
	min-height: 66%;
}
.frame-w-100-mh-67
{
	width: 100%;
	min-height: 67%;
}
.frame-w-100-mh-68
{
	width: 100%;
	min-height: 68%;
}
.frame-w-100-mh-69
{
	width: 100%;
	min-height: 69%;
}
.frame-w-100-mh-70,
.frame-w-100-mh-70-fix
{
	width: 100%;
	min-height: 70%;
}
.frame-w-100-mh-71
{
	width: 100%;
	min-height: 71%;
}
.frame-w-100-mh-72
{
	width: 100%;
	min-height: 72%;
}
.frame-w-100-mh-73
{
	width: 100%;
	min-height: 73%;
}
.frame-w-100-mh-74
{
	width: 100%;
	min-height: 74%;
}
.frame-w-100-mh-75
{
	width: 100%;
	min-height: 75%;
}
.frame-w-100-mh-76
{
	width: 100%;
	min-height: 76%;
}
.frame-w-100-mh-77
{
	width: 100%;
	min-height: 77%;
}
.frame-w-100-mh-78
{
	width: 100%;
	min-height: 78%;
}
.frame-w-100-mh-79
{
	width: 100%;
	min-height: 79%;
}
.frame-w-100-mh-80,
.frame-w-100-mh-80-fix,
.frame-w-100-mh-80-fix-1,
.frame-w-100-mh-80-fix-2,
.frame-w-100-mh-80-fix-3{
	width: 100%;
	min-height: 80%;
}
.frame-w-100-mh-81
{
	width: 100%;
	min-height: 81%;
}
.frame-w-100-mh-82
{
	width: 100%;
	min-height: 82%;
}
.frame-w-100-mh-83
{
	width: 100%;
	min-height: 83%;
}
.frame-w-100-mh-84
{
	width: 100%;
	min-height: 84%;
}
.frame-w-100-mh-85
{
	width: 100%;
	min-height: 85%;
}
.frame-w-100-mh-86
{
	width: 100%;
	min-height: 86%;
}
.frame-w-100-mh-87
{
	width: 100%;
	min-height: 87%;
}
.frame-w-100-mh-88
{
	width: 100%;
	min-height: 88%;
}
.frame-w-100-mh-89
{
	width: 100%;
	min-height: 89%;
}
.frame-w-100-mh-90,
.frame-w-100-mh-90-fix,
.frame-w-100-mh-90-fix-1,
.frame-w-100-mh-90-fix-2,
.frame-w-100-mh-90-fix-3,
.frame-w-100-mh-90-fix-4,
.frame-w-100-mh-90-fix-5,
.frame-w-100-mh-90-fix-6,
.frame-w-100-mh-90-fix-7,
.frame-w-100-mh-90-fix-8{
	width: 100%;
	min-height: 90%;
}
.frame-w-100-mh-91
{
	width: 100%;
	min-height: 91%;
}
.frame-w-100-mh-92
{
	width: 100%;
	min-height: 92%;
}
.frame-w-100-mh-93
{
	width: 100%;
	min-height: 93%;
}
.frame-w-100-mh-94
{
	width: 100%;
	min-height: 94%;
}
.frame-w-100-mh-95
{
	width: 100%;
	min-height: 95%;
}
.frame-w-100-mh-96
{
	width: 100%;
	min-height: 96%;
}
.frame-w-100-mh-97
{
	width: 100%;
	min-height: 97%;
}
.frame-w-100-mh-98
{
	width: 100%;
	min-height: 98%;
}
.frame-w-100-mh-99
{
	width: 100%;
	min-height: 99%;
}
.frame-w-100-mh-100,
.frame-w-100-mh-100-fix
{
	width: 100%;
	min-height: 100%;
}
.frame-w-100-mh-170,
.frame-w-100-mh-170-fix{
	width: 100%;
	min-height: 170%;
}
	@media  screen and (min-width: 320px) and (max-width: 359px)
	{
		.frame-w-100-mh-70-fix{
			min-height: 60%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 130%;
		}
		.frame-w-100-mh-170-fix{
			min-height: 270%;
		}
		.frame-w-100-mh-90-fix-1{
			min-height: 120%;
		}
		.frame-w-100-mh-90-fix-3{
			min-height: 170%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 110%;
		}
		.frame-w-100-mh-10-fix-1{
			min-height: 10%;
		}
	}

	@media  screen and (min-width: 360px) and (max-width: 374px)
	{
		.frame-w-100-mh-170-fix{
			min-height: 210%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 100%;
		}
		.frame-w-100-mh-90-fix-1{
			min-height: 90%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 100%;
		}
		.frame-w-100-mh-80-fix-2{
			min-height: 70%;
		}
		.frame-w-100-mh-90-fix-3{
			min-height: 140%;
		}
		.frame-w-100-mh-90-fix-5{
			min-height: 100%;
		}
		.frame-w-100-mh-70-fix{
			min-height: 80%;
		}
		.frame-w-100-mh-90-fix-7{
			min-height: 70%;
		}
		.frame-w-100-mh-10-fix-1{
			min-height: 10%;
		}
	}
	@media  screen and (min-width: 375px) and (max-width: 389px)
	{	
		.frame-w-100-mh-10-fix{
			min-height: 10%;
		}
		.frame-w-100-mh-90-fix-4{
			min-height: 110%;
		}
		.frame-w-100-mh-90-fix-3
		{
			min-height: 160%;
		}
		.frame-w-100-mh-90-fix-1{
			min-height: 110%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 100%;
		}
		.frame-w-100-mh-70-fix{
			min-height: 70%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 200%;
		}
		.frame-w-100-mh-170-fix{
			min-height: 190%;
		}
		.frame-w-100-mh-90-fix-5{
			min-height: 110%;
		}
		.frame-w-100-mh-70-fix{
			min-height: 90%;
		}
		.frame-w-100-mh-10-fix-1{
			min-height: 10%;
		}
	}
	@media  screen and (min-width: 390px) and (max-width: 424px)
	{	
		.frame-w-100-mh-10-fix-1{
			min-height: 10%;
		}
		.frame-w-100-mh-90-fix-4{
			min-height: 110%;
		}
		.frame-w-100-mh-90-fix-3
		{
			min-height: 130%;
		}
		.frame-w-100-mh-90-fix-1{
			min-height: 100%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 100%;
		}
		.frame-w-100-mh-70-fix{
			min-height: 70%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 100%;
		}
		.frame-w-100-mh-170-fix{
			min-height: 170%;
		}
		.frame-w-100-mh-80-fix-3{
			min-height: 60%;
		}
		.frame-w-100-mh-90-fix-7{
			min-height: 70%;
		}
	}
	@media  screen and (min-width: 425px) and (max-width: 566px){
		.frame-w-100-mh-15{
			min-height: 20%;
		}
		.frame-w-100-mh-10-fix{
			min-height: 10%;
		}
		.frame-w-100-mh-170-fix{
			min-height: 200%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 120%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 100%;;
		}
		.frame-w-100-mh-90-fix-3{
			min-height: 110%;
		}

	}
	@media  screen and (min-width: 567px) and (max-width: 767px)
	{
		.frame-w-100-mh-15{
			min-height: 20%;
		}
		.frame-w-100-mh-10-fix{
			min-height: 10%;
		}
		.frame-w-100-mh-170-fix{
			min-height: 230%;
		}
		.frame-w-100-mh-90-fix{
			min-height: 110%;
		}
		.frame-w-100-mh-90-fix-2{
			min-height: 120%;
		}
		.frame-w-100-mh-90-fix-1{
			min-height: 120%;
		}
		.frame-w-100-mh-90-fix-3{
			min-height: 110%;
		}
	}
	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}
	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}
	@media  screen and (min-width: 1440px)
	{

	}	