	.letter-spacing-1
	{
		letter-spacing: 1%;
	}
	.letter-spacing-2
	{
		letter-spacing: 2%;
	}
	.letter-spacing-3
	{
		letter-spacing: 3%;
	}
	.letter-spacing-4
	{
		letter-spacing: 4%;
	}
	.letter-spacing-5
	{
		letter-spacing: 5%;
	}
	.letter-spacing-6
	{
		letter-spacing: 6%;
	}
	.letter-spacing-7
	{
		letter-spacing: 7%;
	}
	.letter-spacing-8
	{
		letter-spacing: 8%;
	}
	.letter-spacing-9
	{
		letter-spacing: 9%;
	}
	.letter-spacing-10
	{
		letter-spacing: 10%;
	}
	.letter-spacing-11
	{
		letter-spacing: 11%;
	}
	.letter-spacing-12
	{
		letter-spacing: 12%;
	}
	.letter-spacing-13
	{
		letter-spacing: 13%;
	}
	.letter-spacing-14
	{
		letter-spacing: 14%;
	}
	.letter-spacing-15
	{
		letter-spacing: 15%;
	}
	.letter-spacing-16
	{
		letter-spacing: 16%;
	}
	.letter-spacing-17
	{
		letter-spacing: 17%;
	}
	.letter-spacing-18
	{
		letter-spacing: 18%;
	}
	.letter-spacing-19
	{
		letter-spacing: 19%;
	}
	.letter-spacing-20
	{
		letter-spacing: 20%;
	}
	.letter-spacing-21
	{
		letter-spacing: 21%;
	}
	.letter-spacing-22
	{
		letter-spacing: 22%;
	}
	.letter-spacing-23
	{
		letter-spacing: 23%;
	}
	.letter-spacing-24
	{
		letter-spacing: 24%;
	}
	.letter-spacing-25
	{
		letter-spacing: 25%;
	}
	.letter-spacing-26
	{
		letter-spacing: 26%;
	}
	.letter-spacing-27
	{
		letter-spacing: 27%;
	}
	.letter-spacing-28
	{
		letter-spacing: 28%;
	}
	.letter-spacing-29
	{
		letter-spacing: 29%;
	}
	.letter-spacing-30
	{
		letter-spacing: 30%;
	}
	.letter-spacing-31
	{
		letter-spacing: 31%;
	}
	.letter-spacing-32
	{
		letter-spacing: 32%;
	}
	.letter-spacing-33
	{
		letter-spacing: 33%;
	}
	.letter-spacing-34
	{
		letter-spacing: 34%;
	}
	.letter-spacing-35
	{
		letter-spacing: 35%;
	}
	.letter-spacing-36
	{
		letter-spacing: 36%;
	}
	.letter-spacing-37
	{
		letter-spacing: 37%;
	}
	.letter-spacing-38
	{
		letter-spacing: 38%;
	}
	.letter-spacing-39
	{
		letter-spacing: 39%;
	}
	.letter-spacing-40
	{
		letter-spacing: 40%;
	}
	.letter-spacing-41
	{
		letter-spacing: 41%;
	}
	.letter-spacing-42
	{
		letter-spacing: 42%;
	}
	.letter-spacing-43
	{
		letter-spacing: 43%;
	}
	.letter-spacing-44
	{
		letter-spacing: 44%;
	}
	.letter-spacing-45
	{
		letter-spacing: 45%;
	}
	.letter-spacing-46
	{
		letter-spacing: 46%;
	}
	.letter-spacing-47
	{
		letter-spacing: 47%;
	}
	.letter-spacing-48
	{
		letter-spacing: 48%;
	}
	.letter-spacing-49
	{
		letter-spacing: 49%;
	}
	.letter-spacing-50
	{
		letter-spacing: 50%;
	}
	.letter-spacing-51
	{
		letter-spacing: 51%;
	}
	.letter-spacing-52
	{
		letter-spacing: 52%;
	}
	.letter-spacing-53
	{
		letter-spacing: 53%;
	}
	.letter-spacing-54
	{
		letter-spacing: 54%;
	}
	.letter-spacing-55
	{
		letter-spacing: 55%;
	}
	.letter-spacing-56
	{
		letter-spacing: 56%;
	}
	.letter-spacing-57
	{
		letter-spacing: 57%;
	}
	.letter-spacing-58
	{
		letter-spacing: 58%;
	}
	.letter-spacing-59
	{
		letter-spacing: 59%;
	}
	.letter-spacing-60
	{
		letter-spacing: 60%;
	}
	.letter-spacing-61
	{
		letter-spacing: 61%;
	}
	.letter-spacing-62
	{
		letter-spacing: 62%;
	}
	.letter-spacing-63
	{
		letter-spacing: 63%;
	}
	.letter-spacing-64
	{
		letter-spacing: 64%;
	}
	.letter-spacing-65
	{
		letter-spacing: 65%;
	}
	.letter-spacing-66
	{
		letter-spacing: 66%;
	}
	.letter-spacing-67
	{
		letter-spacing: 67%;
	}
	.letter-spacing-68
	{
		letter-spacing: 68%;
	}
	.letter-spacing-69
	{
		letter-spacing: 69%;
	}
	.letter-spacing-70
	{
		letter-spacing: 70%;
	}
	.letter-spacing-71
	{
		letter-spacing: 71%;
	}
	.letter-spacing-72
	{
		letter-spacing: 72%;
	}
	.letter-spacing-73
	{
		letter-spacing: 73%;
	}
	.letter-spacing-74
	{
		letter-spacing: 74%;
	}
	.letter-spacing-75
	{
		letter-spacing: 75%;
	}
	.letter-spacing-76
	{
		letter-spacing: 76%;
	}
	.letter-spacing-77
	{
		letter-spacing: 77%;
	}
	.letter-spacing-78
	{
		letter-spacing: 78%;
	}
	.letter-spacing-79
	{
		letter-spacing: 79%;
	}
	.letter-spacing-80
	{
		letter-spacing: 80%;
	}
	.letter-spacing-81
	{
		letter-spacing: 81%;
	}
	.letter-spacing-82
	{
		letter-spacing: 82%;
	}
	.letter-spacing-83
	{
		letter-spacing: 83%;
	}
	.letter-spacing-84
	{
		letter-spacing: 84%;
	}
	.letter-spacing-85
	{
		letter-spacing: 85%;
	}
	.letter-spacing-86
	{
		letter-spacing: 86%;
	}
	.letter-spacing-87
	{
		letter-spacing: 87%;
	}
	.letter-spacing-88
	{
		letter-spacing: 88%;
	}
	.letter-spacing-89
	{
		letter-spacing: 89%;
	}
	.letter-spacing-90
	{
		letter-spacing: 90%;
	}
	.letter-spacing-91
	{
		letter-spacing: 91%;
	}
	.letter-spacing-92
	{
		letter-spacing: 92%;
	}
	.letter-spacing-93
	{
		letter-spacing: 93%;
	}
	.letter-spacing-94
	{
		letter-spacing: 94%;
	}
	.letter-spacing-95
	{
		letter-spacing: 95%;
	}
	.letter-spacing-96
	{
		letter-spacing: 96%;
	}
	.letter-spacing-97
	{
		letter-spacing: 97%;
	}
	.letter-spacing-98
	{
		letter-spacing: 98%;
	}
	.letter-spacing-99
	{
		letter-spacing: 99%;
	}
	.letter-spacing-100
	{
		letter-spacing: 100%;
	}

	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}

	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}

	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}

	@media  screen and (min-width: 1440px)
	{

	}