	.position-left-0
	{
		position: absolute;
		left: 0%;
	}
	.position-left-1
	{
		position: absolute;
		left: 1%;
	}
	.position-left-2
	{
		position: absolute;
		left: 2%;
	}
	.position-left-3
	{
		position: absolute;
		left: 3%;
	}
	.position-left-4
	{
		position: absolute;
		left: 4%;
	}
	.position-left-5
	{
		position: absolute;
		left: 5%;
	}
	.position-left-6
	{
		position: absolute;
		left: 6%;
	}
	.position-left-7
	{
		position: absolute;
		left: 7%;
	}
	.position-left-8
	{
		position: absolute;
		left: 8%;
	}
	.position-left-9
	{
		position: absolute;
		left: 9%;
	}
	.position-left-10
	{
		position: absolute;
		left: 10%;
	}
	.position-left-11
	{
		position: absolute;
		left: 11%;
	}
	.position-left-12
	{
		position: absolute;
		left: 12%;
	}
	.position-left-13
	{
		position: absolute;
		left: 13%;
	}
	.position-left-14
	{
		position: absolute;
		left: 14%;
	}
	.position-left-15
	{
		position: absolute;
		left: 15%;
	}
	.position-left-16
	{
		position: absolute;
		left: 16%;
	}
	.position-left-17
	{
		position: absolute;
		left: 17%;
	}
	.position-left-18
	{
		position: absolute;
		left: 18%;
	}
	.position-left-19
	{
		position: absolute;
		left: 19%;
	}
	.position-left-20
	{
		position: absolute;
		left: 20%;
	}
	.position-left-21
	{
		position: absolute;
		left: 21%;
	}
	.position-left-22
	{
		position: absolute;
		left: 22%;
	}
	.position-left-23
	{
		position: absolute;
		left: 23%;
	}
	.position-left-24
	{
		position: absolute;
		left: 24%;
	}
	.position-left-25
	{
		position: absolute;
		left: 25%;
	}
	.position-left-26
	{
		position: absolute;
		left: 26%;
	}
	.position-left-27
	{
		position: absolute;
		left: 27%;
	}
	.position-left-28
	{
		position: absolute;
		left: 28%;
	}
	.position-left-29
	{
		position: absolute;
		left: 29%;
	}
	.position-left-30
	{
		position: absolute;
		left: 30%;
	}
	.position-left-31
	{
		position: absolute;
		left: 31%;
	}
	.position-left-32
	{
		position: absolute;
		left: 32%;
	}
	.position-left-33
	{
		position: absolute;
		left: 33%;
	}
	.position-left-34
	{
		position: absolute;
		left: 34%;
	}
	.position-left-35
	{
		position: absolute;
		left: 35%;
	}
	.position-left-36
	{
		position: absolute;
		left: 36%;
	}
	.position-left-37
	{
		position: absolute;
		left: 37%;
	}
	.position-left-38
	{
		position: absolute;
		left: 38%;
	}
	.position-left-39
	{
		position: absolute;
		left: 39%;
	}
	.position-left-40
	{
		position: absolute;
		left: 40%;
	}
	.position-left-41
	{
		position: absolute;
		left: 41%;
	}
	.position-left-42
	{
		position: absolute;
		left: 42%;
	}
	.position-left-43
	{
		position: absolute;
		left: 43%;
	}
	.position-left-44
	{
		position: absolute;
		left: 44%;
	}
	.position-left-45
	{
		position: absolute;
		left: 45%;
	}
	.position-left-46
	{
		position: absolute;
		left: 46%;
	}
	.position-left-47
	{
		position: absolute;
		left: 47%;
	}
	.position-left-48
	{
		position: absolute;
		left: 48%;
	}
	.position-left-49
	{
		position: absolute;
		left: 49%;
	}
	.position-left-50
	{
		position: absolute;
		left: 50%;
	}
	.position-left-51
	{
		position: absolute;
		left: 51%;
	}
	.position-left-52
	{
		position: absolute;
		left: 52%;
	}
	.position-left-53
	{
		position: absolute;
		left: 53%;
	}
	.position-left-54
	{
		position: absolute;
		left: 54%;
	}
	.position-left-55
	{
		position: absolute;
		left: 55%;
	}
	.position-left-56
	{
		position: absolute;
		left: 56%;
	}
	.position-left-57
	{
		position: absolute;
		left: 57%;
	}
	.position-left-58
	{
		position: absolute;
		left: 58%;
	}
	.position-left-59
	{
		position: absolute;
		left: 59%;
	}
	.position-left-60
	{
		position: absolute;
		left: 60%;
	}
	.position-left-61
	{
		position: absolute;
		left: 61%;
	}
	.position-left-62
	{
		position: absolute;
		left: 62%;
	}
	.position-left-63
	{
		position: absolute;
		left: 63%;
	}
	.position-left-64
	{
		position: absolute;
		left: 64%;
	}
	.position-left-65
	{
		position: absolute;
		left: 65%;
	}
	.position-left-66
	{
		position: absolute;
		left: 66%;
	}
	.position-left-67
	{
		position: absolute;
		left: 67%;
	}
	.position-left-68
	{
		position: absolute;
		left: 68%;
	}
	.position-left-69
	{
		position: absolute;
		left: 69%;
	}
	.position-left-70
	{
		position: absolute;
		left: 70%;
	}
	.position-left-71
	{
		position: absolute;
		left: 71%;
	}
	.position-left-72
	{
		position: absolute;
		left: 72%;
	}
	.position-left-73
	{
		position: absolute;
		left: 73%;
	}
	.position-left-74
	{
		position: absolute;
		left: 74%;
	}
	.position-left-75
	{
		position: absolute;
		left: 75%;
	}
	.position-left-76
	{
		position: absolute;
		left: 76%;
	}
	.position-left-77
	{
		position: absolute;
		left: 77%;
	}
	.position-left-78
	{
		position: absolute;
		left: 78%;
	}
	.position-left-79
	{
		position: absolute;
		left: 79%;
	}
	.position-left-80
	{
		position: absolute;
		left: 80%;
	}
	.position-left-81
	{
		position: absolute;
		left: 81%;
	}
	.position-left-82
	{
		position: absolute;
		left: 82%;
	}
	.position-left-83
	{
		position: absolute;
		left: 83%;
	}
	.position-left-84
	{
		position: absolute;
		left: 84%;
	}
	.position-left-85
	{
		position: absolute;
		left: 85%;
	}
	.position-left-86
	{
		position: absolute;
		left: 86%;
	}
	.position-left-87
	{
		position: absolute;
		left: 87%;
	}
	.position-left-88
	{
		position: absolute;
		left: 88%;
	}
	.position-left-89
	{
		position: absolute;
		left: 89%;
	}
	.position-left-90
	{
		position: absolute;
		left: 90%;
	}
	.position-left-91
	{
		position: absolute;
		left: 91%;
	}
	.position-left-92
	{
		position: absolute;
		left: 92%;
	}
	.position-left-93
	{
		position: absolute;
		left: 93%;
	}
	.position-left-94
	{
		position: absolute;
		left: 94%;
	}
	.position-left-95
	{
		position: absolute;
		left: 95%;
	}
	.position-left-96
	{
		position: absolute;
		left: 96%;
	}
	.position-left-97
	{
		position: absolute;
		left: 97%;
	}
	.position-left-98
	{
		position: absolute;
		left: 98%;
	}
	.position-left-99
	{
		position: absolute;
		left: 99%;
	}
	.position-left-100
	{
		position: absolute;
		left: 100%;
	}
	

	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}
	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}
	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}
	@media  screen and (min-width: 1440px)
	{

	}