	.position-bottom-0
	{
		position: absolute;
		bottom: 0%;
	}
	.position-bottom-1
	{
		position: absolute;
		bottom: 1%;
	}
	.position-bottom-2
	{
		position: absolute;
		bottom: 2%;
	}
	.position-bottom-3
	{
		position: absolute;
		bottom: 3%;
	}
	.position-bottom-4
	{
		position: absolute;
		bottom: 4%;
	}
	.position-bottom-5
	{
		position: absolute;
		bottom: 5%;
	}
	.position-bottom-6
	{
		position: absolute;
		bottom: 6%;
	}
	.position-bottom-7
	{
		position: absolute;
		bottom: 7%;
	}
	.position-bottom-8
	{
		position: absolute;
		bottom: 8%;
	}
	.position-bottom-9
	{
		position: absolute;
		bottom: 9%;
	}
	.position-bottom-10
	{
		position: absolute;
		bottom: 10%;
	}
	.position-bottom-11
	{
		position: absolute;
		bottom: 11%;
	}
	.position-bottom-12
	{
		position: absolute;
		bottom: 12%;
	}
	.position-bottom-13
	{
		position: absolute;
		bottom: 13%;
	}
	.position-bottom-14
	{
		position: absolute;
		bottom: 14%;
	}
	.position-bottom-15
	{
		position: absolute;
		bottom: 15%;
	}
	.position-bottom-16
	{
		position: absolute;
		bottom: 16%;
	}
	.position-bottom-17
	{
		position: absolute;
		bottom: 17%;
	}
	.position-bottom-18
	{
		position: absolute;
		bottom: 18%;
	}
	.position-bottom-19
	{
		position: absolute;
		bottom: 19%;
	}
	.position-bottom-20
	{
		position: absolute;
		bottom: 20%;
	}
	.position-bottom-21
	{
		position: absolute;
		bottom: 21%;
	}
	.position-bottom-22
	{
		position: absolute;
		bottom: 22%;
	}
	.position-bottom-23
	{
		position: absolute;
		bottom: 23%;
	}
	.position-bottom-24
	{
		position: absolute;
		bottom: 24%;
	}
	.position-bottom-25
	{
		position: absolute;
		bottom: 25%;
	}
	.position-bottom-26
	{
		position: absolute;
		bottom: 26%;
	}
	.position-bottom-27
	{
		position: absolute;
		bottom: 27%;
	}
	.position-bottom-28
	{
		position: absolute;
		bottom: 28%;
	}
	.position-bottom-29
	{
		position: absolute;
		bottom: 29%;
	}
	.position-bottom-30
	{
		position: absolute;
		bottom: 30%;
	}
	.position-bottom-31
	{
		position: absolute;
		bottom: 31%;
	}
	.position-bottom-32
	{
		position: absolute;
		bottom: 32%;
	}
	.position-bottom-33
	{
		position: absolute;
		bottom: 33%;
	}
	.position-bottom-34
	{
		position: absolute;
		bottom: 34%;
	}
	.position-bottom-35
	{
		position: absolute;
		bottom: 35%;
	}
	.position-bottom-36
	{
		position: absolute;
		bottom: 36%;
	}
	.position-bottom-37
	{
		position: absolute;
		bottom: 37%;
	}
	.position-bottom-38
	{
		position: absolute;
		bottom: 38%;
	}
	.position-bottom-39
	{
		position: absolute;
		bottom: 39%;
	}
	.position-bottom-40
	{
		position: absolute;
		bottom: 40%;
	}
	.position-bottom-41
	{
		position: absolute;
		bottom: 41%;
	}
	.position-bottom-42
	{
		position: absolute;
		bottom: 42%;
	}
	.position-bottom-43
	{
		position: absolute;
		bottom: 43%;
	}
	.position-bottom-44
	{
		position: absolute;
		bottom: 44%;
	}
	.position-bottom-45
	{
		position: absolute;
		bottom: 45%;
	}
	.position-bottom-46
	{
		position: absolute;
		bottom: 46%;
	}
	.position-bottom-47
	{
		position: absolute;
		bottom: 47%;
	}
	.position-bottom-48
	{
		position: absolute;
		bottom: 48%;
	}
	.position-bottom-49
	{
		position: absolute;
		bottom: 49%;
	}
	.position-bottom-50
	{
		position: absolute;
		bottom: 50%;
	}
	.position-bottom-51
	{
		position: absolute;
		bottom: 51%;
	}
	.position-bottom-52
	{
		position: absolute;
		bottom: 52%;
	}
	.position-bottom-53
	{
		position: absolute;
		bottom: 53%;
	}
	.position-bottom-54
	{
		position: absolute;
		bottom: 54%;
	}
	.position-bottom-55
	{
		position: absolute;
		bottom: 55%;
	}
	.position-bottom-56
	{
		position: absolute;
		bottom: 56%;
	}
	.position-bottom-57
	{
		position: absolute;
		bottom: 57%;
	}
	.position-bottom-58
	{
		position: absolute;
		bottom: 58%;
	}
	.position-bottom-59
	{
		position: absolute;
		bottom: 59%;
	}
	.position-bottom-60
	{
		position: absolute;
		bottom: 60%;
	}
	.position-bottom-61
	{
		position: absolute;
		bottom: 61%;
	}
	.position-bottom-62
	{
		position: absolute;
		bottom: 62%;
	}
	.position-bottom-63
	{
		position: absolute;
		bottom: 63%;
	}
	.position-bottom-64
	{
		position: absolute;
		bottom: 64%;
	}
	.position-bottom-65
	{
		position: absolute;
		bottom: 65%;
	}
	.position-bottom-66
	{
		position: absolute;
		bottom: 66%;
	}
	.position-bottom-67
	{
		position: absolute;
		bottom: 67%;
	}
	.position-bottom-68
	{
		position: absolute;
		bottom: 68%;
	}
	.position-bottom-69
	{
		position: absolute;
		bottom: 69%;
	}
	.position-bottom-70
	{
		position: absolute;
		bottom: 70%;
	}
	.position-bottom-71
	{
		position: absolute;
		bottom: 71%;
	}
	.position-bottom-72
	{
		position: absolute;
		bottom: 72%;
	}
	.position-bottom-73
	{
		position: absolute;
		bottom: 73%;
	}
	.position-bottom-74
	{
		position: absolute;
		bottom: 74%;
	}
	.position-bottom-75
	{
		position: absolute;
		bottom: 75%;
	}
	.position-bottom-76
	{
		position: absolute;
		bottom: 76%;
	}
	.position-bottom-77
	{
		position: absolute;
		bottom: 77%;
	}
	.position-bottom-78
	{
		position: absolute;
		bottom: 78%;
	}
	.position-bottom-79
	{
		position: absolute;
		bottom: 79%;
	}
	.position-bottom-80
	{
		position: absolute;
		bottom: 80%;
	}
	.position-bottom-81
	{
		position: absolute;
		bottom: 81%;
	}
	.position-bottom-82
	{
		position: absolute;
		bottom: 82%;
	}
	.position-bottom-83
	{
		position: absolute;
		bottom: 83%;
	}
	.position-bottom-84
	{
		position: absolute;
		bottom: 84%;
	}
	.position-bottom-85
	{
		position: absolute;
		bottom: 85%;
	}
	.position-bottom-86
	{
		position: absolute;
		bottom: 86%;
	}
	.position-bottom-87
	{
		position: absolute;
		bottom: 87%;
	}
	.position-bottom-88
	{
		position: absolute;
		bottom: 88%;
	}
	.position-bottom-89
	{
		position: absolute;
		bottom: 89%;
	}
	.position-bottom-90
	{
		position: absolute;
		bottom: 90%;
	}
	.position-bottom-91
	{
		position: absolute;
		bottom: 91%;
	}
	.position-bottom-92
	{
		position: absolute;
		bottom: 92%;
	}
	.position-bottom-93
	{
		position: absolute;
		bottom: 93%;
	}
	.position-bottom-94
	{
		position: absolute;
		bottom: 94%;
	}
	.position-bottom-95
	{
		position: absolute;
		bottom: 95%;
	}
	.position-bottom-96
	{
		position: absolute;
		bottom: 96%;
	}
	.position-bottom-97
	{
		position: absolute;
		bottom: 97%;
	}
	.position-bottom-98
	{
		position: absolute;
		bottom: 98%;
	}
	.position-bottom-99
	{
		position: absolute;
		bottom: 99%;
	}
	.position-bottom-100
	{
		position: absolute;
		bottom: 100%;
	}
	

	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}
	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}
	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}
	@media  screen and (min-width: 1440px)
	{

	}