	.position-right-0
	{
		position: absolute;
		right: 0%;
	}
	.position-right-1
	{
		position: absolute;
		right: 1%;
	}
	.position-right-2
	{
		position: absolute;
		right: 2%;
	}
	.position-right-3
	{
		position: absolute;
		right: 3%;
	}
	.position-right-4
	{
		position: absolute;
		right: 4%;
	}
	.position-right-5
	{
		position: absolute;
		right: 5%;
	}
	.position-right-6
	{
		position: absolute;
		right: 6%;
	}
	.position-right-7
	{
		position: absolute;
		right: 7%;
	}
	.position-right-8
	{
		position: absolute;
		right: 8%;
	}
	.position-right-9
	{
		position: absolute;
		right: 9%;
	}
	.position-right-10
	{
		position: absolute;
		right: 10%;
	}
	.position-right-11
	{
		position: absolute;
		right: 11%;
	}
	.position-right-12
	{
		position: absolute;
		right: 12%;
	}
	.position-right-13
	{
		position: absolute;
		right: 13%;
	}
	.position-right-14
	{
		position: absolute;
		right: 14%;
	}
	.position-right-15
	{
		position: absolute;
		right: 15%;
	}
	.position-right-16
	{
		position: absolute;
		right: 16%;
	}
	.position-right-17
	{
		position: absolute;
		right: 17%;
	}
	.position-right-18
	{
		position: absolute;
		right: 18%;
	}
	.position-right-19
	{
		position: absolute;
		right: 19%;
	}
	.position-right-20
	{
		position: absolute;
		right: 20%;
	}
	.position-right-21
	{
		position: absolute;
		right: 21%;
	}
	.position-right-22
	{
		position: absolute;
		right: 22%;
	}
	.position-right-23
	{
		position: absolute;
		right: 23%;
	}
	.position-right-24
	{
		position: absolute;
		right: 24%;
	}
	.position-right-25
	{
		position: absolute;
		right: 25%;
	}
	.position-right-26
	{
		position: absolute;
		right: 26%;
	}
	.position-right-27
	{
		position: absolute;
		right: 27%;
	}
	.position-right-28
	{
		position: absolute;
		right: 28%;
	}
	.position-right-29
	{
		position: absolute;
		right: 29%;
	}
	.position-right-30
	{
		position: absolute;
		right: 30%;
	}
	.position-right-31
	{
		position: absolute;
		right: 31%;
	}
	.position-right-32
	{
		position: absolute;
		right: 32%;
	}
	.position-right-33
	{
		position: absolute;
		right: 33%;
	}
	.position-right-34
	{
		position: absolute;
		right: 34%;
	}
	.position-right-35
	{
		position: absolute;
		right: 35%;
	}
	.position-right-36
	{
		position: absolute;
		right: 36%;
	}
	.position-right-37
	{
		position: absolute;
		right: 37%;
	}
	.position-right-38
	{
		position: absolute;
		right: 38%;
	}
	.position-right-39
	{
		position: absolute;
		right: 39%;
	}
	.position-right-40
	{
		position: absolute;
		right: 40%;
	}
	.position-right-41
	{
		position: absolute;
		right: 41%;
	}
	.position-right-42
	{
		position: absolute;
		right: 42%;
	}
	.position-right-43
	{
		position: absolute;
		right: 43%;
	}
	.position-right-44
	{
		position: absolute;
		right: 44%;
	}
	.position-right-45
	{
		position: absolute;
		right: 45%;
	}
	.position-right-46
	{
		position: absolute;
		right: 46%;
	}
	.position-right-47
	{
		position: absolute;
		right: 47%;
	}
	.position-right-48
	{
		position: absolute;
		right: 48%;
	}
	.position-right-49
	{
		position: absolute;
		right: 49%;
	}
	.position-right-50
	{
		position: absolute;
		right: 50%;
	}
	.position-right-51
	{
		position: absolute;
		right: 51%;
	}
	.position-right-52
	{
		position: absolute;
		right: 52%;
	}
	.position-right-53
	{
		position: absolute;
		right: 53%;
	}
	.position-right-54
	{
		position: absolute;
		right: 54%;
	}
	.position-right-55
	{
		position: absolute;
		right: 55%;
	}
	.position-right-56
	{
		position: absolute;
		right: 56%;
	}
	.position-right-57
	{
		position: absolute;
		right: 57%;
	}
	.position-right-58
	{
		position: absolute;
		right: 58%;
	}
	.position-right-59
	{
		position: absolute;
		right: 59%;
	}
	.position-right-60
	{
		position: absolute;
		right: 60%;
	}
	.position-right-61
	{
		position: absolute;
		right: 61%;
	}
	.position-right-62
	{
		position: absolute;
		right: 62%;
	}
	.position-right-63
	{
		position: absolute;
		right: 63%;
	}
	.position-right-64
	{
		position: absolute;
		right: 64%;
	}
	.position-right-65
	{
		position: absolute;
		right: 65%;
	}
	.position-right-66
	{
		position: absolute;
		right: 66%;
	}
	.position-right-67
	{
		position: absolute;
		right: 67%;
	}
	.position-right-68
	{
		position: absolute;
		right: 68%;
	}
	.position-right-69
	{
		position: absolute;
		right: 69%;
	}
	.position-right-70
	{
		position: absolute;
		right: 70%;
	}
	.position-right-71
	{
		position: absolute;
		right: 71%;
	}
	.position-right-72
	{
		position: absolute;
		right: 72%;
	}
	.position-right-73
	{
		position: absolute;
		right: 73%;
	}
	.position-right-74
	{
		position: absolute;
		right: 74%;
	}
	.position-right-75
	{
		position: absolute;
		right: 75%;
	}
	.position-right-76
	{
		position: absolute;
		right: 76%;
	}
	.position-right-77
	{
		position: absolute;
		right: 77%;
	}
	.position-right-78
	{
		position: absolute;
		right: 78%;
	}
	.position-right-79
	{
		position: absolute;
		right: 79%;
	}
	.position-right-80
	{
		position: absolute;
		right: 80%;
	}
	.position-right-81
	{
		position: absolute;
		right: 81%;
	}
	.position-right-82
	{
		position: absolute;
		right: 82%;
	}
	.position-right-83
	{
		position: absolute;
		right: 83%;
	}
	.position-right-84
	{
		position: absolute;
		right: 84%;
	}
	.position-right-85
	{
		position: absolute;
		right: 85%;
	}
	.position-right-86
	{
		position: absolute;
		right: 86%;
	}
	.position-right-87
	{
		position: absolute;
		right: 87%;
	}
	.position-right-88
	{
		position: absolute;
		right: 88%;
	}
	.position-right-89
	{
		position: absolute;
		right: 89%;
	}
	.position-right-90
	{
		position: absolute;
		right: 90%;
	}
	.position-right-91
	{
		position: absolute;
		right: 91%;
	}
	.position-right-92
	{
		position: absolute;
		right: 92%;
	}
	.position-right-93
	{
		position: absolute;
		right: 93%;
	}
	.position-right-94
	{
		position: absolute;
		right: 94%;
	}
	.position-right-95
	{
		position: absolute;
		right: 95%;
	}
	.position-right-96
	{
		position: absolute;
		right: 96%;
	}
	.position-right-97
	{
		position: absolute;
		right: 97%;
	}
	.position-right-98
	{
		position: absolute;
		right: 98%;
	}
	.position-right-99
	{
		position: absolute;
		right: 99%;
	}
	.position-right-100
	{
		position: absolute;
		right: 100%;
	}
	

	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}
	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}
	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}
	@media  screen and (min-width: 1440px)
	{

	}