	.letter-spacing-1
	{
		letter-spacing: 1rem;
	}
	.letter-spacing-2
	{
		letter-spacing: 2rem;
	}
	.letter-spacing-3
	{
		letter-spacing: 3rem;
	}
	.letter-spacing-4
	{
		letter-spacing: 4rem;
	}
	.letter-spacing-5
	{
		letter-spacing: 5rem;
	}
	.letter-spacing-6
	{
		letter-spacing: 6rem;
	}
	.letter-spacing-7
	{
		letter-spacing: 7rem;
	}
	.letter-spacing-8
	{
		letter-spacing: 8rem;
	}
	.letter-spacing-9
	{
		letter-spacing: 9rem;
	}
	.letter-spacing-10
	{
		letter-spacing: 10rem;
	}
	.letter-spacing-11
	{
		letter-spacing: 11rem;
	}
	.letter-spacing-12
	{
		letter-spacing: 12rem;
	}
	.letter-spacing-13
	{
		letter-spacing: 13rem;
	}
	.letter-spacing-14
	{
		letter-spacing: 14rem;
	}
	.letter-spacing-15
	{
		letter-spacing: 15rem;
	}
	.letter-spacing-16
	{
		letter-spacing: 16rem;
	}
	.letter-spacing-17
	{
		letter-spacing: 17rem;
	}
	.letter-spacing-18
	{
		letter-spacing: 18rem;
	}
	.letter-spacing-19
	{
		letter-spacing: 19rem;
	}
	.letter-spacing-20
	{
		letter-spacing: 20rem;
	}
	.letter-spacing-21
	{
		letter-spacing: 21rem;
	}
	.letter-spacing-22
	{
		letter-spacing: 22rem;
	}
	.letter-spacing-23
	{
		letter-spacing: 23rem;
	}
	.letter-spacing-24
	{
		letter-spacing: 24rem;
	}
	.letter-spacing-25
	{
		letter-spacing: 25rem;
	}
	.letter-spacing-26
	{
		letter-spacing: 26rem;
	}
	.letter-spacing-27
	{
		letter-spacing: 27rem;
	}
	.letter-spacing-28
	{
		letter-spacing: 28rem;
	}
	.letter-spacing-29
	{
		letter-spacing: 29rem;
	}
	.letter-spacing-30
	{
		letter-spacing: 30rem;
	}
	.letter-spacing-31
	{
		letter-spacing: 31rem;
	}
	.letter-spacing-32
	{
		letter-spacing: 32rem;
	}
	.letter-spacing-33
	{
		letter-spacing: 33rem;
	}
	.letter-spacing-34
	{
		letter-spacing: 34rem;
	}
	.letter-spacing-35
	{
		letter-spacing: 35rem;
	}
	.letter-spacing-36
	{
		letter-spacing: 36rem;
	}
	.letter-spacing-37
	{
		letter-spacing: 37rem;
	}
	.letter-spacing-38
	{
		letter-spacing: 38rem;
	}
	.letter-spacing-39
	{
		letter-spacing: 39rem;
	}
	.letter-spacing-40
	{
		letter-spacing: 40rem;
	}
	.letter-spacing-41
	{
		letter-spacing: 41rem;
	}
	.letter-spacing-42
	{
		letter-spacing: 42rem;
	}
	.letter-spacing-43
	{
		letter-spacing: 43rem;
	}
	.letter-spacing-44
	{
		letter-spacing: 44rem;
	}
	.letter-spacing-45
	{
		letter-spacing: 45rem;
	}
	.letter-spacing-46
	{
		letter-spacing: 46rem;
	}
	.letter-spacing-47
	{
		letter-spacing: 47rem;
	}
	.letter-spacing-48
	{
		letter-spacing: 48rem;
	}
	.letter-spacing-49
	{
		letter-spacing: 49rem;
	}
	.letter-spacing-50
	{
		letter-spacing: 50rem;
	}
	.letter-spacing-51
	{
		letter-spacing: 51rem;
	}
	.letter-spacing-52
	{
		letter-spacing: 52rem;
	}
	.letter-spacing-53
	{
		letter-spacing: 53rem;
	}
	.letter-spacing-54
	{
		letter-spacing: 54rem;
	}
	.letter-spacing-55
	{
		letter-spacing: 55rem;
	}
	.letter-spacing-56
	{
		letter-spacing: 56rem;
	}
	.letter-spacing-57
	{
		letter-spacing: 57rem;
	}
	.letter-spacing-58
	{
		letter-spacing: 58rem;
	}
	.letter-spacing-59
	{
		letter-spacing: 59rem;
	}
	.letter-spacing-60
	{
		letter-spacing: 60rem;
	}
	.letter-spacing-61
	{
		letter-spacing: 61rem;
	}
	.letter-spacing-62
	{
		letter-spacing: 62rem;
	}
	.letter-spacing-63
	{
		letter-spacing: 63rem;
	}
	.letter-spacing-64
	{
		letter-spacing: 64rem;
	}
	.letter-spacing-65
	{
		letter-spacing: 65rem;
	}
	.letter-spacing-66
	{
		letter-spacing: 66rem;
	}
	.letter-spacing-67
	{
		letter-spacing: 67rem;
	}
	.letter-spacing-68
	{
		letter-spacing: 68rem;
	}
	.letter-spacing-69
	{
		letter-spacing: 69rem;
	}
	.letter-spacing-70
	{
		letter-spacing: 70rem;
	}
	.letter-spacing-71
	{
		letter-spacing: 71rem;
	}
	.letter-spacing-72
	{
		letter-spacing: 72rem;
	}
	.letter-spacing-73
	{
		letter-spacing: 73rem;
	}
	.letter-spacing-74
	{
		letter-spacing: 74rem;
	}
	.letter-spacing-75
	{
		letter-spacing: 75rem;
	}
	.letter-spacing-76
	{
		letter-spacing: 76rem;
	}
	.letter-spacing-77
	{
		letter-spacing: 77rem;
	}
	.letter-spacing-78
	{
		letter-spacing: 78rem;
	}
	.letter-spacing-79
	{
		letter-spacing: 79rem;
	}
	.letter-spacing-80
	{
		letter-spacing: 80rem;
	}
	.letter-spacing-81
	{
		letter-spacing: 81rem;
	}
	.letter-spacing-82
	{
		letter-spacing: 82rem;
	}
	.letter-spacing-83
	{
		letter-spacing: 83rem;
	}
	.letter-spacing-84
	{
		letter-spacing: 84rem;
	}
	.letter-spacing-85
	{
		letter-spacing: 85rem;
	}
	.letter-spacing-86
	{
		letter-spacing: 86rem;
	}
	.letter-spacing-87
	{
		letter-spacing: 87rem;
	}
	.letter-spacing-88
	{
		letter-spacing: 88rem;
	}
	.letter-spacing-89
	{
		letter-spacing: 89rem;
	}
	.letter-spacing-90
	{
		letter-spacing: 90rem;
	}
	.letter-spacing-91
	{
		letter-spacing: 91rem;
	}
	.letter-spacing-92
	{
		letter-spacing: 92rem;
	}
	.letter-spacing-93
	{
		letter-spacing: 93rem;
	}
	.letter-spacing-94
	{
		letter-spacing: 94rem;
	}
	.letter-spacing-95
	{
		letter-spacing: 95rem;
	}
	.letter-spacing-96
	{
		letter-spacing: 96rem;
	}
	.letter-spacing-97
	{
		letter-spacing: 97rem;
	}
	.letter-spacing-98
	{
		letter-spacing: 98rem;
	}
	.letter-spacing-99
	{
		letter-spacing: 99rem;
	}
	.letter-spacing-100
	{
		letter-spacing: 100rem;
	}
	.word-spacing-1
	{
		word-spacing: 1rem;
	}
	.word-spacing-2
	{
		word-spacing: 2rem;
	}
	.word-spacing-3
	{
		word-spacing: 3rem;
	}
	.word-spacing-4
	{
		word-spacing: 4rem;
	}
	.word-spacing-5
	{
		word-spacing: 5rem;
	}
	.word-spacing-6
	{
		word-spacing: 6rem;
	}
	.word-spacing-7
	{
		word-spacing: 7rem;
	}
	.word-spacing-8
	{
		word-spacing: 8rem;
	}
	.word-spacing-9
	{
		word-spacing: 9rem;
	}
	.word-spacing-10
	{
		word-spacing: 10rem;
	}
	.word-spacing-11
	{
		word-spacing: 11rem;
	}
	.word-spacing-12
	{
		word-spacing: 12rem;
	}
	.word-spacing-13
	{
		word-spacing: 13rem;
	}
	.word-spacing-14
	{
		word-spacing: 14rem;
	}
	.word-spacing-15
	{
		word-spacing: 15rem;
	}
	.word-spacing-16
	{
		word-spacing: 16rem;
	}
	.word-spacing-17
	{
		word-spacing: 17rem;
	}
	.word-spacing-18
	{
		word-spacing: 18rem;
	}
	.word-spacing-19
	{
		word-spacing: 19rem;
	}
	.word-spacing-20
	{
		word-spacing: 20rem;
	}
	.word-spacing-21
	{
		word-spacing: 21rem;
	}
	.word-spacing-22
	{
		word-spacing: 22rem;
	}
	.word-spacing-23
	{
		word-spacing: 23rem;
	}
	.word-spacing-24
	{
		word-spacing: 24rem;
	}
	.word-spacing-25
	{
		word-spacing: 25rem;
	}
	.word-spacing-26
	{
		word-spacing: 26rem;
	}
	.word-spacing-27
	{
		word-spacing: 27rem;
	}
	.word-spacing-28
	{
		word-spacing: 28rem;
	}
	.word-spacing-29
	{
		word-spacing: 29rem;
	}
	.word-spacing-30
	{
		word-spacing: 30rem;
	}
	.word-spacing-31
	{
		word-spacing: 31rem;
	}
	.word-spacing-32
	{
		word-spacing: 32rem;
	}
	.word-spacing-33
	{
		word-spacing: 33rem;
	}
	.word-spacing-34
	{
		word-spacing: 34rem;
	}
	.word-spacing-35
	{
		word-spacing: 35rem;
	}
	.word-spacing-36
	{
		word-spacing: 36rem;
	}
	.word-spacing-37
	{
		word-spacing: 37rem;
	}
	.word-spacing-38
	{
		word-spacing: 38rem;
	}
	.word-spacing-39
	{
		word-spacing: 39rem;
	}
	.word-spacing-40
	{
		word-spacing: 40rem;
	}
	.word-spacing-41
	{
		word-spacing: 41rem;
	}
	.word-spacing-42
	{
		word-spacing: 42rem;
	}
	.word-spacing-43
	{
		word-spacing: 43rem;
	}
	.word-spacing-44
	{
		word-spacing: 44rem;
	}
	.word-spacing-45
	{
		word-spacing: 45rem;
	}
	.word-spacing-46
	{
		word-spacing: 46rem;
	}
	.word-spacing-47
	{
		word-spacing: 47rem;
	}
	.word-spacing-48
	{
		word-spacing: 48rem;
	}
	.word-spacing-49
	{
		word-spacing: 49rem;
	}
	.word-spacing-50
	{
		word-spacing: 50rem;
	}
	.word-spacing-51
	{
		word-spacing: 51rem;
	}
	.word-spacing-52
	{
		word-spacing: 52rem;
	}
	.word-spacing-53
	{
		word-spacing: 53rem;
	}
	.word-spacing-54
	{
		word-spacing: 54rem;
	}
	.word-spacing-55
	{
		word-spacing: 55rem;
	}
	.word-spacing-56
	{
		word-spacing: 56rem;
	}
	.word-spacing-57
	{
		word-spacing: 57rem;
	}
	.word-spacing-58
	{
		word-spacing: 58rem;
	}
	.word-spacing-59
	{
		word-spacing: 59rem;
	}
	.word-spacing-60
	{
		word-spacing: 60rem;
	}
	.word-spacing-61
	{
		word-spacing: 61rem;
	}
	.word-spacing-62
	{
		word-spacing: 62rem;
	}
	.word-spacing-63
	{
		word-spacing: 63rem;
	}
	.word-spacing-64
	{
		word-spacing: 64rem;
	}
	.word-spacing-65
	{
		word-spacing: 65rem;
	}
	.word-spacing-66
	{
		word-spacing: 66rem;
	}
	.word-spacing-67
	{
		word-spacing: 67rem;
	}
	.word-spacing-68
	{
		word-spacing: 68rem;
	}
	.word-spacing-69
	{
		word-spacing: 69rem;
	}
	.word-spacing-70
	{
		word-spacing: 70rem;
	}
	.word-spacing-71
	{
		word-spacing: 71rem;
	}
	.word-spacing-72
	{
		word-spacing: 72rem;
	}
	.word-spacing-73
	{
		word-spacing: 73rem;
	}
	.word-spacing-74
	{
		word-spacing: 74rem;
	}
	.word-spacing-75
	{
		word-spacing: 75rem;
	}
	.word-spacing-76
	{
		word-spacing: 76rem;
	}
	.word-spacing-77
	{
		word-spacing: 77rem;
	}
	.word-spacing-78
	{
		word-spacing: 78rem;
	}
	.word-spacing-79
	{
		word-spacing: 79rem;
	}
	.word-spacing-80
	{
		word-spacing: 80rem;
	}
	.word-spacing-81
	{
		word-spacing: 81rem;
	}
	.word-spacing-82
	{
		word-spacing: 82rem;
	}
	.word-spacing-83
	{
		word-spacing: 83rem;
	}
	.word-spacing-84
	{
		word-spacing: 84rem;
	}
	.word-spacing-85
	{
		word-spacing: 85rem;
	}
	.word-spacing-86
	{
		word-spacing: 86rem;
	}
	.word-spacing-87
	{
		word-spacing: 87rem;
	}
	.word-spacing-88
	{
		word-spacing: 88rem;
	}
	.word-spacing-89
	{
		word-spacing: 89rem;
	}
	.word-spacing-90
	{
		word-spacing: 90rem;
	}
	.word-spacing-91
	{
		word-spacing: 91rem;
	}
	.word-spacing-92
	{
		word-spacing: 92rem;
	}
	.word-spacing-93
	{
		word-spacing: 93rem;
	}
	.word-spacing-94
	{
		word-spacing: 94rem;
	}
	.word-spacing-95
	{
		word-spacing: 95rem;
	}
	.word-spacing-96
	{
		word-spacing: 96rem;
	}
	.word-spacing-97
	{
		word-spacing: 97rem;
	}
	.word-spacing-98
	{
		word-spacing: 98rem;
	}
	.word-spacing-99
	{
		word-spacing: 99rem;
	}
	.word-spacing-100
	{
		word-spacing: 100rem;
	}

	@media  screen and (min-width: 360px) and (max-width: 767px)
	{

	}

	@media  screen and (min-width: 768px) and (max-width: 1023px)
	{

	}

	@media  screen and (min-width: 1024px) and (max-width: 1439px)
	{

	}

	@media  screen and (min-width: 1440px)
	{

	}