    .text-color-1{
        color: rgba(255, 255, 255, 255);
    }
    .text-color-2
    {
        color: rgba(0, 0, 0, 255);;
    }
    .text-color-3
    {
        color: rgba(231,226,214,255);
    }
    .text-color-4
    {
        color: rgba(61, 54, 43, 0.842);
    }