body{
    height: 100%;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #777;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-track{
    background-color: #555;
}
*{
    overflow-x: hidden;
}
.letter-spacing-05rem{
    letter-spacing: 0.5rem;
}
.word-spacing-05{
    word-spacing: 0.1rem;
}
.about-margin-bottom-70-fix{
    margin-bottom: 0;
}
.about-margin-bottom-55-fix{
    margin-bottom: 0;
}
.about-margin-bottom-60-fix{
    margin-bottom: 0;
}
.about-margin-bottom-65-fix{
    margin-bottom: 0;
}
.about-margin-left-1-fix{
    margin-left: 0.5%;
}
.about-margin-top-5-fix{
    margin-top: 0;
}

/* .btn{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    width: 10%;
    height: 8%;
} */
.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
@media  screen and (min-width: 360px) and (max-width: 374px){
    .btn{
        width: 40%;
        height: 8%;
    }
    .about-margin-bottom-55-fix{
        margin-bottom: 55px;
    }
    .about-margin-bottom-60-fix{
        margin-bottom: 60px;
    }
    .about-margin-bottom-65-fix{
        margin-bottom: 65px;
    }
    .about-margin-left-5-fix{
        margin-left: 5px;
    }
}
@media  screen and (min-width: 375px) and (max-width: 767px){
    .about-margin-bottom-55-fix{
        margin-bottom: 55px;
    }
    .about-margin-bottom-60-fix{
        margin-bottom: 60px;
    }
    .about-margin-bottom-65-fix{
        margin-bottom: 65px;
    }
    .about-margin-left-5-fix{
        margin-left: 5px;
    }
}