.bg-1{
    background-image: url('../images/background/bg-1.jpg');
    background-size: cover;
}
.bg-2{
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.bg-3{
    background-color: rgba(246,245,242,255);
    background-size: cover;
}
.bg-4{
    background-color: rgba(0, 0, 0, 255);
    background-size: cover;
}
.bg-5{
    background-image: url('../images/background/bg-14.jpg');
    background-size: cover;
}


