.font-size-300-fix
{
    font-size: 300%;
}
.font-size-200-fix{
    font-size: 200%;
}
.font-size-180-fix,
.font-size-180-fix-1,
.font-size-180-fix-2
{
    font-size: 180%;
}
.font-size-160-fix{
    font-size: 160%;
}
.font-size-150-fix{
    font-size: 150%;
}
.font-size-120-fix,
.font-size-120-fix-1
{
    font-size: 120%;
}
.font-size-130-fix
{
    font-size: 130%;
}
.font-size-100-fix
{
    font-size: 100%;
}
.font-size-90-fix
{
    font-size: 90%;
}
@media  screen and (min-width: 320px) and (max-width: 359px){
    .font-size-160-fix{
        font-size: 80%;
    }
    .font-size-180-fix-1,
    .font-size-120-fix,
    .font-size-100-fix{
        font-size: 90%;
    }
    .font-size-130-fix,
    .font-size-150-fix,
    .font-size-180-fix{
        font-size: 110%;
    }
    .font-size-300-fix{
        font-size: 220%;
    }
    .font-size-200-fix{
        font-size: 120%;
    }


}

@media  screen and (min-width: 360px) and (max-width: 389px)
{
    .font-size-150-fix{
        font-size: 120%;
    }
    .font-size-300-fix
    {
        font-size: 200%;
    }
    .font-size-200-fix{
        font-size: 150%;
    }
    .font-size-160-fix{
        font-size: 110%;
        ;
    }
    .font-size-180-fix-1{
        font-size: 110%;
    }
    .font-size-180-fix{
        font-size: 130%;
    }
    .font-size-130-fix,
    .font-size-180-fix-2
    {
        font-size: 90%;
    }
    .font-size-120-fix
    {
        font-size: 120%;
    }
    .font-size-100-fix,
    .font-size-100-fix-1,
    .font-size-120-fix-1
    {
        font-size: 80%;
    }

}

@media  screen and (min-width: 390px) and (max-width: 430px)
{
    .font-size-150-fix{
        font-size: 120%;
    }
    .font-size-300-fix
    {
        font-size: 200%;
    }
    .font-size-120-fix,
    .font-size-200-fix{
        font-size: 150%;
    }
    .font-size-180-fix-1{
        font-size: 100%;
    }
    .font-size-180-fix{
        font-size: 130%;
    }
    .font-size-130-fix,
    .font-size-180-fix-2
    {
        font-size: 100%;
    }
    .font-size-160-fix{
        font-size: 110%;
    }
    .font-size-100-fix-1,
    .font-size-120-fix-1
    {
        font-size: 100%;
    }
    .font-size-100-fix-1{
        font-size: 80%;
    }
}
@media screen and (min-width: 425px) and (max-width: 566px) {
    .font-size-100-fix{
        font-size: 130%;
    }
    .font-size-160-fix{
        font-size: 120%;
    }
    .font-size-180-fix,
    .font-size-180-fix-1,
    .font-size-200-fix,
    .font-size-150{
        font-size: 170%;
    }
    .font-size-120-fix,
    .font-size-130-fix{
        font-size: 150%;
    }
    .font-size-300-fix{
        font-size: 250%;
    }
    .font-size-150-fix{
        font-size: 130%;
    }
    .font-size-100{
        font-size: 110%;
    }
}

@media  screen and (min-width: 567px) and (max-width: 767px)
{
    .font-size-100-fix{
        font-size: 140%;
    }
    .font-size-100{
        font-size: 120%;
    }
    .font-size-160-fix{
        font-size: 140%;
    }
    .font-size-180-fix-1{
        font-size: 200%;
    }
    .font-size-180-fix,
    .font-size-200-fix,
    .font-size-150{
        font-size: 190%;
    }
    .font-size-120-fix,
    .font-size-130-fix{
        font-size: 160%;
    }
    .font-size-300-fix{
        font-size: 270%;
    }
    .font-size-150-fix{
        font-size: 140%;
    }
}
@media  screen and (min-width: 768px) and (max-width: 1023px)
{

}
@media  screen and (min-width: 1024px) and (max-width: 1439px)
{

}

@media  screen and (min-width: 1440px)
{

}