body{
    height: 100%;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #777;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-track{
    background-color: #555;
}
*{
    overflow-x: hidden;
}

.margin-bottom-5-fix{
    margin-bottom: 0;
}
.margin-right-5-fix{
    margin-right: 0;
}
.margin-left-12-fix{
    margin-left: 12.5px;
}
.margin-left-10-fix{
    margin-left: 10px;
}
.margin-left-5-fix-1{
    margin-left: 5px;
}
.margin-left-5-fix,
.margin-left-5-fix-2{
    margin-left: 5px;
}
.margin-top-5-fix,
.margin-top-5-fix-1{
    margin-top: 5px;
}
.margin-top-5-fix-2{
    margin-top: 0;
}
.position-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.demo-dflex{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.demo-dflex-fix{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.demo-dflex-fix-1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media  screen and (min-width: 320px) and (max-width: 359px)
{
    .margin-top-5-fix{
        margin-top: 5%;
    }
    .margin-top-10-fix{
        margin-top: 10%;
    }
}
@media  screen and (min-width: 360px) and (max-width: 374px)
{   
    .margin-top-5-fix{
        margin-top: 5%;
    }
    .margin-top-10-fix{
        margin-top: 10%;
    }
    /* .margin-left-10-fix{
        margin-left: 5px;
    }
    .margin-top-5-fix-1{
        margin-top: 0;
    }
    .margin-top-5-fix-2{
        margin-top: 5px;
    }
    .margin-bottom-5-fix{
        margin-bottom: 5px;
    }
    .margin-right-5-fix{
        margin-right: 5px;
    }
    .margin-left-12-fix{
        margin-left: 0;
    }
    .margin-left-5-fix{
        margin-left: 5px;
        text-align: center;
    }
    .position-center{
        width: 100%;
        flex-wrap: wrap;
    } */
}
@media  screen and (min-width: 375px) and (max-width: 389px){
    .margin-top-5-fix{
        margin-top: 5%;
    }
    .margin-top-10-fix{
        margin-top: 10%;
    }
}


@media  screen and (min-width: 390px) and (max-width: 424px){
    .margin-top-5-fix{
        margin-top: 5%;
    }
    .margin-left-10-fix{
        margin-left: 10%;
    }
}

@media  screen and (min-width: 768px) and (max-width: 1023px)
{

}
@media  screen and (min-width: 1024px) and (max-width: 1280px)
{
    .margin-left-5-fix{
        margin-left: 5px;
    }
    .margin-left-5-fix-2{
        margin-left: 5px;
    }
    
}
@media  screen and (min-width: 1281px) and (max-width: 1439px)
{
    .margin-top-5-fix{
        margin-top: 0;
    }
    .margin-left-5-fix,
    .margin-left-5-fix-2{
        margin-left: px;
    }
    
}

@media  screen and (min-width: 1440px)
{

}
