
.position-top-540-fix{
    position: absolute;
    top: 540%;
}
.position-top-50-fix,
.position-top-50-fix-1{
    position: absolute;
    top: 50%;
}
.position-top-270-fix{
    position: absolute;
    top: 270%;
}
.position-top-450-fix{
    position: absolute;
    top: 450%;
}
.position-top-440-fix{
    position: absolute;
    top: 440%;
}
.position-top-370-fix{
    position: absolute;
    top: 370%;
}
.position-top-360-fix,
.position-top-360-fix-1{
    position: absolute;
    top: 360%;
}
.position-top-200-fix{
    position: absolute;
    top: 200%;
}
.position-top-190-fix{
    position: absolute;
    top: 190%;
}
.position-top-100-fix{
    position: absolute;
    top: 100%;
}
.position-top-460-fix{
    position: absolute;
    top: 460%;
}
.position-top-550-fix{
    position: absolute;
    top: 550%;
}
.position-top-30-fix,
.position-top-30-fix-1,
.position-top-30-fix-2,
.position-top-30-fix-3,
.position-top-30-fix-4,
.position-top-30-fix-5,
.position-top-30-fix-6,
.position-top-30-fix-7{
    position: absolute;
    top: 30%;
}
.position-top-32-fix{
    position: absolute;
    top:32%
}
.position-top-28-fix{
    position: absolute;
    top: 28%;
}
.position-top-20-fix,
.position-top-20-fix-1,
.position-top-20-fix-2,
.position-top-20-fix-3,
.position-top-20-fix-4,
.position-top-20-fix-5,
.position-top-20-fix-6,
.position-top-20-fix-7,
.position-top-20-fix-8,
.position-top-20-fix-9{
    position: absolute;
    top: 20%;
}
.position-top-68-fix{
    position: absolute;
    top: 68%;
}
.position-top-72-fix{
    position: absolute;
    top: 72%;
}
.position-top-10-fix,
.position-top-10-fix-1,
.position-top-10-fix-2,
.position-top-10-fix-3,
.position-top-10-fix-4,
.position-top-10-fix-5,
.position-top-10-fix-6{
    position: absolute;
    top: 10%;
}
.position-top-8-fix{
    position: absolute;
    top: 8%;
}
.position-top-5-fix,
.position-top-5-fix-1,
.position-top-5-fix-2,
.position-top-5-fix-3{
    position: absolute;
    top: 5%;
}
.position-top-15-fix{
    position: absolute;
    top: 15%;
}
.position-top-35-fix,
.position-top-35-fix-1,
.position-top-35-fix-2,
.position-top-35-fix-3,
.position-top-35-fix-4,
.position-top-35-fix-5{
    position: absolute;
    top: 35%;
}
.position-top-40-fix,
.position-top-40-fix-1,
.position-top-40-fix-2,
.position-top-40-fix-3,
.position-top-40-fix-4,
.position-top-40-fix-5,
.position-top-40-fix-6,
.position-top-40-fix-7{
    position: absolute;
    top: 40%;
}
.position-top-47-fix,
.position-top-47-fix-1,
.position-top-47-fix-2{
    position: absolute;
    top: 47%;
}

.position-top-45-fix,
.position-top-45-fix-1{
    position: absolute;
    top: 45%;
}
.position-top-55-fix,
.position-top-55-fix-1,
.position-top-55-fix-2{
    position: absolute;
    top: 55%;
}
.position-top-52-fix,
.position-top-52-fix-1,
.position-top-52-fix-2,
.position-top-52-fix-3,
.position-top-52-fix-4,
.position-top-52-fix-5,
.position-top-52-fix-6{
    position: absolute;
    top: 52%;
}
.position-top-60-fix,
.position-top-60-fix-1,
.position-top-60-fix-2,
.position-top-60-fix-3{
    position: absolute;
    top: 60%;
}
.position-top-62-fix,
.position-top-62-fix-1,
.position-top-62-fix-2{
    position: absolute;
    top: 62%;
}
.position-top-65-fix,
.position-top-65-fix-1,
.position-top-65-fix-2{
    position: absolute;
    top: 65%;
}
.position-top-25-fix,
.position-top-25-fix-1,
.position-top-25-fix-2,
.position-top-25-fix-3,
.position-top-25-fix-4,
.position-top-25-fix-5,
.position-top-25-fix-6{
    position: absolute;
    top: 25%;
}
.position-top-110-fix{
    position: absolute;
    top: 110%;
}
.position-top-90-fix{
    position: absolute;
    top: 90%;
}

.position-top-86-fix,
.position-top-86-fix-1
{
    position: absolute;
    top: 86%;
}
.position-top-87-fix{
    position: absolute;
    top: 87%;
}
.position-top-83-fix,
.position-top-83-fix-1{
    position: absolute;
    top: 83%;
}
.position-top-80-fix{
    position: absolute;
    top: 80%
}
.position-top-18-fix{
	position: absolute;
	top: 18%;
}
.position-top-7-fix{
    position: absolute;
    top: 7%;
}
.position-top-75-fix{
    position: absolute;
    top: 75%;
}
.position-top-0-fix{
    position: absolute;
    top: 0%;
}
@media  screen and (min-width: 320px) and (max-width: 359px){
    .position-top-30-fix{
        top: 35%;
    }

    .position-top-30-fix-2{
        top: 30%;
    }
    .position-top-5-fix-1,
    .position-top-10-fix-3,
    .position-top-20-fix-2,
    .position-top-25-fix-1{
        top: 5%;
    }
    .position-top-30-fix-1,
    .position-top-25-fix-2{
        top: 8%;
    }
    .position-top-20-fix-1,
    .position-top-15-fix{
        top: 10%;
    }

    .position-top-35-fix-3,
    .position-top-20-fix{
        top: 15%;
    }
    .position-top-8-fix,
    .position-top-40-fix-1{
        top: 18%;
    }

    .position-top-35-fix{
        top: 20%;
    }
    .position-top-18-fix,
    .position-top-25-fix{
        top: 23%;
    }
    .position-top-47-fix{
        top: 22%;
    }

    .position-top-52-fix,
    .position-top-52-fix-1{
        top: 25%;
    }
    .position-top-30-fix-3,
    .position-top-35-fix-2,
    .position-top-60-fix-1{
        top: 30%;
    }

    .position-top-65-fix{
        top: 33%;
    }

    .position-top-20-fix-3{
        top: 45%;
    }

    .position-top-35-fix-1{
        top: 35%;
    }

    .position-top-68-fix{
        top: 55%;
    }
    .position-top-45-fix{
        top: 50%;
    }

    .position-top-60-fix,
    .position-top-90-fix{
        top: 80%;
    }
    .position-top-72-fix{
        top: 60%;
    }
    .position-top-50-fix-1{
        top: 70%;
    }
    .position-top-100-fix{
        top: 90%;
    }
    .position-top-190-fix{
        top: 210%;
    }
    .position-top-360-fix{
        top: 480%;
    }
    .position-top-370-fix{
        top: 490%;
    }
    .position-top-460-fix{
        top: 610%;
    }
    .position-top-550-fix{
        top: 720%;
    }

}
@media  screen and (min-width: 360px) and (max-width: 374px){
    .position-top-550-fix{
        top: 620%;
    }
    .position-top-540-fix{
        top: 533%;
    }

    .position-top-450-fix{
        top: 463%;
    }
    .position-top-440-fix{
        top: 453%;
    }
    .position-top-460-fix{
        top: 520%;
    }
    .position-top-370-fix{
        top: 430%;
    }
    .position-top-360-fix-1{
        top: 370%;
    }
    .position-top-360-fix{
        top: 420%;
    }
    .position-top-270-fix{
        top: 280%;
    }
    .position-top-190-fix{
        top: 210%;
    }
    .position-top-25-fix-1,
    .position-top-10-fix-3{
        top: 3%;
    }
    .position-top-5-fix,
    .position-top-5-fix-1,
    .position-top-10-fix-1,
    .position-top-10-fix-2,
    .position-top-5-fix-2,
    .position-top-25-fix-5,
    .position-top-30-fix-7,
    .position-top-20-fix-8{
        top: 5%;
    }
    .position-top-30-fix-1{
        top: 8%;
    }

    .position-top-20-fix{
        top: 10%;
    }
    .position-top-20-fix-1,
    .position-top-15-fix{
        top: 10%;
    }

    .position-top-25-fix-2,
    .position-top-30-fix-6,
    .position-top-25-fix-6{
        top: 10%;
    }

    .position-top-10-fix-4{
        top: 13%;
    }
    .position-top-8-fix,
    .position-top-35-fix-4,
    .position-top-40-fix-6{
        top: 15%;
    }

    .position-top-35-fix-5{
        top: 18%;
    }

    .position-top-35-fix,
    .position-top-35-fix-3,
    .position-top-40-fix-3,
    .position-top-7-fix,
    .position-top-35-fix-1,
    .position-top-40-fix-4{
        top: 20%;
    }
    .position-top-40-fix-1,
    .position-top-20-fix-6,
    .position-top-40-fix-7{
        top: 23%;
    }
    .position-top-35-fix-2,
    .position-top-18-fix{
        top: 25%;
    }
    .position-top-47-fix{
        top: 28%;
    }

    .position-top-25-fix-4,
    .position-top-47-fix-2{
        top: 28%;
    }
    .position-top-30-fix-2{
        top: 30%;
    }
    .position-top-52-fix,
    .position-top-52-fix-1{
        top: 32%
    }
    
    .position-top-52-fix-4,
    .position-top-52-fix-5{
        top: 33%;
    }

    .position-top-60-fix,
    .position-top-60-fix-1{
        top: 38%;
    }

    .position-top-65-fix{
        top: 42%
    }
    .position-top-60-fix-3{
        top: 40%;
    }
    .position-top-30-fix-3{
        top: 25%;
    }
    .position-top-60-fix-2,
    .position-top-65-fix-2{
        top: 45%;
    }

    .position-top-20-fix-2{
        top: 5%
    }

    .position-top-20-fix-3{
        top: 50%
    }
    .position-top-68-fix{
        top: 52%;
    }
    .position-top-83-fix-1,
    .position-top-40-fix-5,
    .position-top-20-fix-9{
        top: 53%;
    }
    .position-top-72-fix{
        top: 55%;
    }

    .position-top-83-fix{
        top: 58.5%;
    }
    .position-top-50-fix-1{
        top: 63%;
    }
    .position-top-86-fix,
    .position-top-0-fix,
    .position-top-45-fix{
        top: 60%;
    }

    
    .position-top-100-fix{
        top: 110%;
    }
    .position-top-90-fix{
        top: 100%;
    }
    .position-top-110-fix{
        top: 100%;
    }

}
@media  screen and (min-width: 375px) and (max-width: 389px)
{   
    .position-top-550-fix{
        top: 630%;
    }
    .position-top-460-fix{
        top: 530%;
    }
    .position-top-370-fix{
        top: 420%;
    }

    .position-top-190-fix{
        top: 220%;
    }
    .position-top-200-fix{
        top: 210%;
    }
    .position-top-25-fix-1{
        top: 3%;
    }

   .position-top-10-fix-1,
   .position-top-10-fix-2,
   .position-top-5-fix,
   .position-top-5-fix-1,
   .position-top-5-fix-2,
   .position-top-30-fix-7,
   .position-top-20-fix-8,
   .position-top-20-fix-2{
    top: 5%;
   }
   .position-top-25-fix-5{
    top: 7%;
   }
   .position-top-30-fix-1
   {
    top: 6%;
   }
   .position-top-25-fix-2{
    top: 8%;
   }

   .position-top-15-fix,
   .position-top-30-fix-6,
   .position-top-25-fix-6{
    top: 10%;
   }

   .position-top-8-fix{
    top: 12%;
   }
   .position-top-20-fix,
   .position-top-35-fix-4,
   .position-top-40-fix-6{
    top: 15%;
   }
   .position-top-40-fix-1,
   .position-top-35-fix-5{
    top: 18%;
   }
   .position-top-18-fix,
   .position-top-10-fix-3,
   .position-top-40-fix-3
   ,.position-top-7-fix{
    top: 20%;
   }
   .position-top-20-fix-1,
   .position-top-20-fix-6,
   .position-top-40-fix-7{
    top: 23%;
   }

   .position-top-47-fix{
    top: 25%;
   }
   .position-top-25-fix-4,
   .position-top-47-fix-2{
    top: 28%;
   }
   .position-top-35-fix-3{
    top: 15%;
   }
   .position-top-35-fix{
    top: 20%;
   }
   .position-top-30-fix-3,
   .position-top-35-fix-1{
    top: 25%;
   }

   .position-top-52-fix,
   .position-top-52-fix-1{
    top: 28%;
   }
   .position-top-40-fix-4,
   .position-top-52-fix-4,
   .position-top-52-fix-5{
    top: 33%;
   }

   .position-top-35-fix-2{
    top: 30%;
   }

   .position-top-60-fix-1{
    top: 35%;
   }
   .position-top-65-fix{
    top: 38%;
   }
   .position-top-60-fix-3{
    top: 40%;
   }
   .position-top-20-fix-3,
   .position-top-60-fix,
   .position-top-65-fix-2{
    top: 45%;
   }
   .position-top-72-fix,
   .position-top-40-fix-5{
    top: 53%;
   }

   .position-top-0-fix{
    top: 55%;
   }
   .position-top-68-fix{
    top: 50%;
   }
   .position-top-50-fix-1{
    top: 61%;
   }
   .position-top-45-fix{
    top: 60%;
   }

   .position-top-90-fix{
    top: 110%;
   }
   .position-top-100-fix{
    top: 85%;
   }
   .position-top-110-fix{
    top: 100%;
   }
   .position-top-83-fix{
    top: 58%;
   }
   .position-top-86-fix{
    top: 60%;
   }
   .position-top-83-fix-1{
    top: 51%;
   }
   .position-top-270-fix{
    top: 300%;
   }
   .position-top-60-fix-2{
    top: 45%;
   }
   .position-top-360-fix{
    top: 410%;
   }
   .position-top-440-fix{
    top: 470%;
   }
   .position-top-450-fix{
    top: 480%;
   }
   .position-top-540-fix{
    top: 570%;
   }
   .position-top-20-fix-9{
    top: 55%;
   }
}
@media screen and (min-width: 390px) and (max-width: 424px) {
    .position-top-20-fix-2,
    .position-top-25-fix-1 {
        top: 2%;
    }

    .position-top-10-fix-2,
    .position-top-5-fix,
    .position-top-30-fix-1,
    .position-top-25-fix-5,
    .position-top-30-fix-7,
    .position-top-20-fix-8,
    .position-top-5-fix-1,
    .position-top-25-fix-2 {
        top: 5%;
    }

    .position-top-10-fix,
    .position-top-15-fix,
    .position-top-20-fix,
    .position-top-30-fix-6,
    .position-top-25-fix-6 {
        top: 10%;
    }

    .position-top-10-fix-3,
    .position-top-8-fix,
    .position-top-35-fix-4,
    .position-top-40-fix-6 {
        top: 14%;
    }

    .position-top-35-fix-3 {
        top: 12%;
    }

    .position-top-40-fix-1{
        top: 15%;
    }
    .position-top-20-fix-1,
    .position-top-30-fix-3,
    .position-top-18-fix {
        top: 20%;
    }

    .position-top-40-fix-3,
    .position-top-7-fix,
    .position-top-35-fix-5 {
        top: 18%;
    }

    .position-top-35-fix-1,
    .position-top-47-fix {
        top: 22%;
    }

    .position-top-35-fix,
    .position-top-40-fix-7 {
        top: 24%;
    }

    .position-top-52-fix,
    .position-top-52-fix-1 {
        top: 25%;
    }

    .position-top-30-fix-3,
    .position-top-47-fix-2 {
        top: 28%;
    }

    .position-top-60-fix-1 {
        top: 32%;
    }

    
    .position-top-30-fix-2,
    .position-top-40-fix-4,
    .position-top-52-fix-4,
    .position-top-52-fix-5 {
        top: 33%;
    }

    .position-top-65-fix {
        top: 35%;
    }

    .position-top-60-fix {
        top: 38%;
    }

    .position-top-60-fix-3,
    .position-top-30-fix-4,
    .position-top-30-fix-5 {
        top: 40%;
    }

    .position-top-20-fix-3,
    .position-top-65-fix-2,
    .position-top-83-fix-1 {
        top: 45%;
    }

    .position-top-68-fix,
    .position-top-60-fix-2 {
        top: 48%;
    }

    .position-top-72-fix {
        top: 51%;
    }

    .position-top-40-fix-5 {
        top: 53%;
    }

    .position-top-20-fix-9 {
        top: 55%;
    }

    .position-top-0-fix {
        top: 58%;
    }

    .position-top-45-fix,
    .position-top-50-fix-1,
    .position-top-83-fix {
        top: 60%;
    }

    .position-top-86-fix {
        top: 62%;
    }

    .position-top-100-fix,
    .position-top-90-fix {
        top: 90%;
    }

    .position-top-190-fix,
    .position-top-110-fix {
        top: 100%;
    }

    .position-top-200-fix {
        top: 190%;
    }

    .position-top-360-fix {
        top: 260%;
    }

    .position-top-370-fix {
        top: 270%;
    }

    .position-top-450-fix {
        top: 434%;
    }

    .position-top-440-fix {
        top: 424%;
    }

    .position-top-460-fix {
        top: 360%;
    }

    .position-top-540-fix {
        top: 540%;
    }

    .position-top-550-fix {
        top: 550%;
    }
}
    @media screen and (min-width: 425px) and (max-width: 566px) {
        .position-top-8-fix,
        .position-top-35-fix{
            top: 20%;
        }
        .position-top-47-fix,
        .position-top-18-fix{
            top: 25%;
        }
        .position-top-52-fix,
        .position-top-52-fix-1{
            top: 28%;
        }
        .position-top-30-fix{
            top: 30%;
        }

        .position-top-30-fix-3,
        .position-top-60-fix-1{
            top: 35%;
        }
        .position-top-65-fix{
            top: 38%;
        }
        .position-top-20-fix-2,
        .position-top-5-fix,
        .position-top-5-fix-1,
        .position-top-25-fix-1,
        .position-top-10-fix-3{
            top: 5%;
        }
        .position-top-25-fix-2,
        .position-top-30-fix-1{
            top: 8%;
        }
        .position-top-35-fix-3,
        .position-top-30-fix-2{
            top: 15%;
        }
        .position-top-40-fix-1{
            top: 18%;
        }
        .position-top-15-fix,
        .position-top-10-fix-4,
        .position-top-20-fix-1{
            top: 10%;
        }
        .position-top-20-fix-3{
            top: 50%;
        }
        .position-top-68-fix{
            top: 53%;
        }
        .position-top-72-fix{
            top: 58%;
        }
        .position-top-50-fix-1{
            top: 70%;
        }
        .position-top-190-fix{
            top: 100%;
        }
        .position-top-360-fix{
            top: 300%;
        }
        .position-top-370-fix{
            top: 400%;
        }
        .position-top-460-fix{
            position: absolute;
            top: 490%;
        }
        .position-top-550-fix{
            top: 590%;
        }
    }

    @media  screen and (min-width: 567px) and (max-width: 767px)
    {
        .position-top-35-fix{
            top: 15%;
        }
        .position-top-18-fix{
            top: 20%;
        }

        .position-top-35-fix-2,
        .position-top-47-fix{
            top: 25%;
        }
   
        .position-top-52-fix,
        .position-top-52-fix-1{
            top: 28%;
        }
        .position-top-30-fix-3,
        .position-top-30-fix{
            top: 30%;
        }


        .position-top-60-fix-1{
            top: 35%;
        }
        .position-top-65-fix{
            top: 38%;
        }
        .position-top-20-fix-2,
        .position-top-5-fix,
        .position-top-5-fix-1,
        .position-top-25-fix-1,
        .position-top-10-fix-3{
            top: 5%;
        }
        .position-top-25-fix-2,
        .position-top-30-fix-1{
            top: 8%;
        }
        .position-top-8-fix,
        .position-top-35-fix-3{
            top: 15%;
        }

        .position-top-40-fix-1{
            top: 18%;
        }
        .position-top-30-fix-2,
        .position-top-15-fix,
        .position-top-10-fix-4,
        .position-top-20-fix-1{
            top: 10%;
        }
        .position-top-20-fix-3{
            top: 50%;
        }
        .position-top-68-fix{
            top: 50%;
        }
        .position-top-72-fix{
            top: 53%;
        }
        .position-top-50-fix-1{
            top: 60%;
        }
        .position-top-90-fix{
            top: 90%;
        }
        
        .position-top-190-fix{
            top: 210%;
        }
        .position-top-360-fix{
            top: 430%;
        }
        .position-top-370-fix{
            top: 440%;
        }
        .position-top-460-fix{
            top: 560%;
        }
        .position-top-550-fix{
            top: 680%;
        }
    }


    @media  screen and (min-width: 768px) and (max-width: 1023px)
    {

    }
    @media  screen and (min-width: 1024px) and (max-width: 1280px){
        .position-top-10-fix-2{
            top: 5%;
        }
        .position-top-20-fix-2{
            top: 13%;
        }
    }
    @media  screen and (min-width: 1024px) and (max-width: 1439px)
    {

    }

    @media  screen and (min-width: 1440px)
    {

    }
