<div class="frame-w-100-mh-15 position-top-10-fix" style="background-color: black;"> 
    <h1 class="animation-header position-top-35-fix position-left-0-fix-1 line-height-center font-optima-500 text-color-1 font-size-160-fix">
        UY TÍN - CHẤT LƯỢNG - DỊCH VỤ & THẨM MỸ LÀ NHỮNG TIÊU CHÍ MÀ LEE HAIR SALON ĐẶT LÊN HÀNG ĐẦU
    </h1>
</div>
<div class="frame-w-100-mh-70-fix position-top-25-fix position-left-0-fix bg-1">
    <h1 class="animation-header position-top-20-fix position-left-11-fix font-raleway-500 text-color-3 font-size-130-fix">
        OUR HAIR SALON
    </h1>
    <h1 class="animation-header position-top-35-fix-1 position-left-11-fix-1 font-raleway-700 text-color-1 font-size-300-fix">
        LEE HAIR SALON 
    </h1>
    <h1 class="animation-header position-top-45-fix position-left-11-fix-2 font-raleway-500 text-color-1 font-size-130-fix">
        HAIR SALON & STUDIO
    </h1>
    <h1 class="animation-header position-top-60-fix position-left-11-fix-3 font-roboto-500 text-color-1 font-size-120-fix">
        331 Trần Hưng Đạo, P. Cô Giang, Q.1, TP.HCM
    </h1>
</div>
<!-- <div class="frame-w-100-mh-80-fix-1 position-top-10-fix-2 position-left-0-fix-2 bg-2"></div> -->
<div class="frame-w-100-mh-10-fix position-top-90-fix position-left-0-fix-3" style="background-color: black;">
    <h1 class="animation-header position-top-30-fix line-height-center font-raleway-700 text-color-3 font-size-180-fix">
        DỊCH VỤ CỦA CHÚNG TÔI
    </h1>
</div>
<div class="frame-w-100-mh-90-fix position-top-100-fix position-left-0-fix-4 bg-2">
    <h1 class="scroll-loading position-top-10-fix-3 d-flex-justify-content-center-align-items-center font-raleway-700 font-size-200-fix text-color-2">
        CẮT THIẾT KẾ / DESIGN CUT
    </h1>
    <p class="scroll-loading position-top-20-fix-1 position-left-29-fix position-right-28-fix font-roboto-300 font-size-100-fix text-color-2">
            Chúng tôi có các level stylist từ Junior đến Director và luôn đi kèm quá trình tư vấn trao đổi kỹ
            càng. Các stylist sẽ thiết kế dựa trên chất liệu tóc, mong muốn và phong cách của khách hàng.
    </p>
    <div class="position-top-35-fix-2 position-left-0-fix position-right-10-fix d-flex-justify-content-center-align-items-center demo-dflex-fix overflow-y-hidden">
        <img src="../static/images/design-cut/_frame3_img1.jpg" alt="" class="scroll-loading img-size-1">
        <img src="../static/images/design-cut/_frame3_img2.jpg" alt="" class="scroll-loading img-size-1" >
        <img src="../static/images/design-cut/_frame3_img3.jpg" alt="" class="scroll-loading img-size-1">
        <img src="../static/images/design-cut/_frame3_img4.jpg" alt="" class="scroll-loading img-size-1">
    </div>
</div>
<div class="frame-w-100-mh-170-fix position-top-190-fix position-left-0-fix-5 bg-3 overflow-y-hidden" >
    <h1 class="scroll-loading position-top-25-fix-1 position-left-20-fix-1 font-raleway-700 font-size-150 text-color-2">
        NHUỘM / DYE
    </h1>
    <p class="scroll-loading position-top-30-fix-1 position-left-20-fix font-roboto-300 font-size-100-fix text-color-2 line-content-28">
        LEE HAIR sử dụng các sản phẩm nhuộm tóc chất lượng
        cao (L'Oreal, Lakme, Milbon, Guytang,..) để mang đến cho
        bạn sự thay đổi mới mẻ và phù hợp với phong cách của bạn.
    </p>
    <div class="position-top-8-fix position-left-55-fix position-right-15-fix demo-dflex-fix overflow-x-hidden">
        <img src="../static/images/dye/_frame4_img1.jpg" alt="" class="scroll-loading img-size-2 ">
        <img src="../static/images/dye/_frame4_img2.jpg" alt="" class="scroll-loading img-size-2">
        <img src="../static/images/dye/_frame4_img3.jpg" alt="" class="scroll-loading img-size-2 ">
        <img src="../static/images/dye/_frame4_img4.jpg" alt="" class="scroll-loading img-size-2">
    </div>
    <h1 class="scroll-loading position-top-68-fix position-left-55-fix-1 font-raleway-700 font-size-150 text-color-2">
        UỐN DUỖI - PERM / STRAIGHT
    </h1>
    <p class="scroll-loading position-top-72-fix position-left-55-fix-2 font-roboto-300 font-size-100-fix text-color-2 line-content-28">
        Với kỹ thuật uốn/duỗi tóc được cập nhập thường xuyên và
        được tư vấn cá nhân hóa, LEE mang đến cho bạn nhiều
        kiểu tóc uốn từ nhẹ nhàng đến cá tính phù hợp với sở thích
        và chất liệu, tình trạng tóc.
    </p>
    <div class="position-top-50-fix-1 position-right-50-fix position-left-20-fix-2 demo-dflex-fix overflow-x-hidden">
        <img src="../static/images/perm-straight/_frame5_img1.jpg" alt="" class="scroll-loading img-size-2">
        <img src="../static/images/perm-straight/_frame5_img2.jpg" alt="" class="scroll-loading img-size-2">
        <img src="../static/images/perm-straight/_frame5_img3.jpg" alt="" class="scroll-loading img-size-2">
        <img src="../static/images/perm-straight/_frame5_img4.jpg" alt="" class="scroll-loading img-size-2">

    </div>
</div>
<div class="frame-w-100-mh-10-fix-1 position-top-360-fix position-left-0-fix-6" style="background-color: black;">
    <h1 class="scroll-loading position-top-30-fix-2 line-height-center font-raleway-700 text-color-3 font-size-180-fix-1">
        THEO DÕI CHÚNG TÔI TẠI INSTAGRAM!
    </h1>
</div> 
<div class="frame-w-100-mh-90-fix-1 position-top-370-fix position-left-0-fix7 bg-2">
    <h1 class="scroll-loading position-top-5-fix d-flex-justify-content-center-align-items-center font-raleway-700 font-size-200-fix text-color-2">
        @LEE.HAIR.SALON
    </h1>
    <p class="scroll-loading position-top-10-fix-4 position-left-29-fix-1 line-content-100 font-roboto-300 font-size-100-fix text-color-2">
        Chúng tôi cập nhập sản phẩm, mẫu tóc và chương trình liên tục tại kênh Instagram chính chủ.
    </p>
    <div class="position-top-18-fix position-left-22-fix position-right-20-fix demo-dflex overflow-x-hidden overflow-y-hidden ">
        <video src="../static/video/vd_1.mp4" alt="" class="scroll-loading img-size-3" controls> </video>
        <video src="../static/video/vd_2.mp4" class ="scroll-loading img-size-3" controls ></video>
        <img src="../static/video/img_1.jpg" alt="" class="scroll-loading img-size-3">
        <video src="../static/video/vd_3.mp4" alt="" class="scroll-loading img-size-3" controls> </video>
        <img src="../static/video/img_2.jpg" alt="" class="scroll-loading img-size-3">
        <video src="../static/video/vd_4.mp4" alt="" class="scroll-loading img-size-3" controls> </video>
        <video src="../static/video/vd_5.mp4" alt="" class="scroll-loading img-size-3" controls></video>
        <img src="../static/video/img_3.jpg" alt="" class="scroll-loading img-size-3 ">
        <video src="../static/video/vd_6.mp4" alt="" class="scroll-loading img-size-3" controls> </video>
        <!-- <img src="../static/images/perm-straight/_frame5_img1.jpg" alt="" class="scroll-loading img-size-3 margin-top-5-fix-1 margin-left-5-fix"> -->
    </div>
    <h1 class = "scroll-loading font-raleway-700 font-size-120-fix text-color-2 position-right-20-fix-1 position-bottom-8-fix">
        FOLLOW US.
    </h1>
</div>
<div class="frame-w-100-mh-90-fix-2 position-top-460-fix bg-3">
    <h1 class="scroll-loading position-top-5-fix-1 d-flex-justify-content-center-align-items-center font-raleway-700 font-size-200-fix text-color-2">
        VỀ LEE HAIR SALON
    </h1>
    <p class="scroll-loading position-top-15-fix position-left-32-fix position-right-30-fix font-roboto-300 font-size-100-fix text-color-2">
        Lee Hair Salon được thành lập từ tháng 06/2020. "Lee Hair" là đội ngũ
        Hair Stylist được chọn lọc gắt gao với chuyên môn cao và kinh nghiệm dày dặn bởi
        chuyên gia tạo mẫu tóc Lê Ngọc Phát - Founder LEE HAIR SALON.
    </p>
    <div class="position-top-30-fix-3 position-left-5-fix d-flex-justify-content-center-align-items-center demo-dflex overflow-x-hidden ">
        <img src="../static/images/background/bg-4.jpg" alt="" class="scroll-loading margin-top-5-fix img-size-4">
        <!-- <div class="margin-left-10-fix"></div> -->
        <img src="../static/images/background/bg-6.jpg" alt="" class="scroll-loading margin-top-5-fix img-size-4 ">
    </div>
</div>
<div class="frame-w-100-mh-90-fix-3 position-top-550-fix bg-2">
    <h1 class="scroll-loading position-top-20-fix-2 position-left-15-fix-4 font-raleway-700 font-size-150-fix">
        Liên hệ và đặt hàng với Salon
    </h1>
    <a href="https://booking.easysalon.vn/leehairsalonq1" target="_blank">
    <button class="scroll-loading  position-top-25-fix-2 position-left-15-fix-5 btn font-size-100 font-roboto-500">Đặt lịch ngay</button>
    </a>
    <h1 class="scroll-loading position-top-35-fix-3 position-left-15-fix-6 font-raleway-700 font-size-150-fix">
        Hotline
    </h1>
    <p class="scroll-loading position-top-40-fix-1 position-left-15-fix-7 font-roboto-500 font-size-150-fix">
        📞0903617376
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        📞0908679635
    </p>
    <h1 class="scroll-loading position-top-47-fix position-left-15-fix-8 font-raleway-700 font-size-150-fix">
        Socials
    </h1>
    <a class="position-top-52-fix position-left-15-fix-9" href="https://www.facebook.com/hairsalonleephat/" target="_blank">
        <img class="scroll-loading img-size-5" src="../static/images/logo/facebook.png" loading="lazy">
    </a> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="position-top-52-fix-1 position-left-18-fix " href="https://www.instagram.com/lee.hair.salon/" target="_blank">
        <img class="scroll-loading img-size-5 " src="../static/images/logo/instagram.png" loading="lazy">
    </a>
    <h1 class="scroll-loading position-top-60-fix-1 position-left-15-fix-10 font-raleway-700 font-size-150-fix">
        Địa chỉ
    </h1>
    <p class="scroll-loading position-top-65-fix position-left-15-fix-11 font-roboto-400 font-size-150-fix">
        331 Trần Hưng Đạo, P. Cô Giang, Q.1, TP.HCM (không chi nhánh)
    </p>
    <div class="position-top-20-fix-3 position-left-60-fix">
    <iframe class="scroll-loading img-size-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62714.36512882214!2d106.61374354863281!3d10.761602000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f996fe9aeb3%3A0xe3b90a9306a1f228!2sLee%20Hair%20Salon!5e0!3m2!1svi!2s!4v1714388770401!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>