{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}




{% block html %}
<div class="container-fluid">
    <div class="row">
        {% include 'navbar.html' %}

    </div>
    <div class="row" style="background-color: black; height: 50px; line-height: 50px;">
        <div class="d-flex justify-content-center align-items-cente">
            <p class="text-white" v-text="getContent('content-H25')" ></p>
        </div>
    </div>
    <div class="row">
        <img class="img" src="{{ url_for('static', filename='images/background/bg-1.jpg') }}" alt="Background Image">
        <div class="position-absolute mt-5">
            <div class="d-flex justify-content-center">
                <p class="text-white" v-text="getContent('content-H1')" ></p>
            </div>
            <div class="d-flex justify-content-center">
                <h2 class="text-white display-4 mt-5" v-text="getContent('content-H2')" ></h2>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text-white" v-text="getContent('content-H3')"></p>

            </div>
            <div class="d-flex justify-content-center">
                <p class="text-white" v-text="getContent('content-H4')"></p>
            </div>
        </div>
    </div>

{% endblock html %}




{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
