{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}

{% block html %}
<div class="container-fluid">

    <div class="row overflow-hidden">
        {% include 'navbar.html' %}
    </div>
    <div class="row bg-black" style="height: 90px;">
        <div class="  col d-flex justify-content-center align-items-center">
            <h4 class="overflow-hidden fw-bold text-white text-center m-0 responsive-text" v-text="getContent('content-H0')"></h4>
        </div>
    </div>
    <div class="row position-relative">
        <img class="img w-100"  :src="getImage('{{ url_for('static', filename='images/background/bg-1.jpg')}}')" alt="Background Image">
        <div class="position-absolute top-50 start-50 translate-middle w-100 text-center">
            <div class="d-flex justify-content-center">
                <p class="overflow-hidden text-white fs-3" v-text="getContent('content-H1')"></p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <h2 class="overflow-hidden text-white display-2 fw-bold " v-text="getContent('content-H2')"></h2>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="overflow-hidden text-white fs-3" v-text="getContent('content-H3')"></p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="overflow-hidden text-white fs-3" v-text="getContent('content-H4')"></p>
            </div>
        </div>
    </div>    

<!-- Hung update -->
    <div class="row bg-black" style="height: 70px; line-height: 70px;">
        <div class=" overflow-hidden col d-flex justify-content-center align-items-center">
            <h3 class="overflow-hidden fs-3 fw-bold text-white text-center m-0" v-text="getContent('content-H5')"></h3>
        </div>
    </div>
<!-- Cắt thiết kế -->
    <div class="row position-relative mt-5" >
        <div class="overflow-hidden col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
            <h6 class="overflow-hidden fs-3 fw-bold text-dark text-center mb-3" v-text="getContent('content-H6')"></h6>
            <p class="overflow-hidden text-dark col-sm-6 p-2 text-center col-lg-6 col-md-6" v-text="getContent('content-H7')"></p>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-md-4 g-2 ">
            <div class="col">
                <img class="p-1 img-fluid " :src="getImage('{{ url_for('static', filename='images/design-cut/_frame3_img1.jpg')}}')"  alt="Image 1">
            </div>
            <div class="col">
                <img class="p-1 img-fluid " :src="getImage('{{ url_for('static', filename='images/design-cut/_frame3_img2.jpg')}}')" alt="Image 2">
            </div>
            <div class="col">
                <img class="p-1 img-fluid " :src="getImage('{{ url_for('static', filename='images/design-cut/_frame3_img3.jpg')}}')" alt="Image 3">
            </div>
            <div class="col">
                <img class="p-1 img-fluid" :src="getImage('{{ url_for('static', filename='images/design-cut/_frame3_img4.jpg')}}')" alt="Image 4">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light mt-5">
        <div class="container d-flex justify-content-center">
            <div class="w-100" style="max-width: 80%;">
                <!-- Phần trên: Hình ảnh bên trái, nội dung bên phải -->
                <div class="row mb-5 mt-3">
                    <div class="col-md-6 order-1 order-md-2 d-flex align-items-center">
                        <div>
                            <h3 class="overflow-hidden fs-2 fw-bold text-dark m-0 mt-5" v-text="getContent('content-H8')"></h3>
                            <p class="overflow-hidden text-dark mt-3" v-text="getContent('content-H9')"></p>
                        </div>
                    </div>
                    <div class="col-md-6 order-2 order-md-1 d-flex flex-wrap">
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size"  :src="getImage('{{ url_for('static', filename='images/dye/_frame4_img1.jpg')}}')" alt="Image 1">
                        </div>
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/dye/_frame4_img2.jpg')}}')" alt="Image 2">
                        </div>
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/dye/_frame4_img3.jpg')}}')" alt="Image 3">
                        </div>
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/dye/_frame4_img4.jpg')}}')" alt="Image 4">
                        </div>
                    </div>
                </div>
    
                <!-- Phần dưới: Nội dung bên trái, hình ảnh bên phải -->
                <div class="row flex-row-reverse mt-3">
                    <div class="col-md-6 order-2 order-md-1 d-flex flex-wrap">
                        <div class="col-6 ">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/perm-straight/_frame5_img1.jpg')}}')" alt="Image 1">
                        </div>
                        <div class="col-6 ">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/perm-straight/_frame5_img2.jpg')}}')" alt="Image 2">
                        </div>
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/perm-straight/_frame5_img3.jpg')}}')" alt="Image 3">
                        </div>
                        <div class="col-6">
                            <img class="p-1 img-fluid custom-img-size" :src="getImage('{{ url_for('static', filename='images/perm-straight/_frame5_img4.jpg')}}')" alt="Image 4">
                        </div>
                    </div>
                    <div class="col-md-6 order-1 order-md-2 d-flex align-items-center mt-3">
                        <div>
                            <h3 class="overflow-hidden fs-2 fw-bold text-dark m-0 mt-1" v-text="getContent('content-H10')"></h3>
                            <p class="overflow-hidden text-dark mt-3" v-text="getContent('content-H11')"></p>
                        </div>
                    </div>
                    <div class="order-2 order-md-2 align-items-center mt-3">
                        <div>
                            <h3 class="overflow-hidden fs-3 text-dark" v-text="getContent('content-H12')"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-black mt-5 " style="height: 70px; line-height: 70px;">
            <div class="col d-flex justify-content-center align-items-center">
                <h3 class="overflow-hidden fs-3 fw-bold text-white text-center m-0" v-text="getContent('content-H13')"></h3>
            </div>
        </div>
    </div>
<!-- @LEE.HAIR -->
    <div class="container-fluid text-center">
        <div class="row position-relative mt-5" >
            <div class="overflow-hidden col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                <h6 class="overflow-hidden fs-3 fw-bold text-dark text-center mb-3" v-text="getContent('content-H14')"></h6>
                <p class="overflow-hidden text-dark col-sm-6 p-2 text-center col-lg-6 col-md-6" v-text="getContent('content-H15')"></p>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-3 row-cols-md-5 pd-1 g-2">
                <div class="col">
                    <img class="img-fluid custom-img-size-1" :src="getImage('{{ url_for('static', filename='video/img_1.jpg')}}')" alt="Image 1">
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1" :src="getImage('{{url_for('static', filename='video/vd_1.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <img class="img-fluid custom-img-size-1" :src="getImage('{{ url_for('static', filename='video/img_2.jpg')}}')" alt="Image 2">
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1" :src="getImage('{{url_for('static', filename='video/vd_2.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1" :src="getImage('{{url_for('static', filename='video/vd_3.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1" :src="getImage('{{url_for('static', filename='video/vd_4.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1  " :src="getImage('{{url_for('static', filename='video/vd_5.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <video class="img-fluid custom-img-size-1  " :src="getImage('{{url_for('static', filename='video/vd_6.mp4')}}')" controls></video>
                </div>
                <div class="col">
                    <img class=" img-fluid custom-img-size-1 " :src="getImage('{{ url_for('static', filename='video/img_3.jpg')}}')" alt="Image 3">
                </div>
                <div class=" order-md-2 align-items-center mt-3 d-flex flex-column justify-content-center  ">
                    <div>
                        <h3 class="overflow-hidden d-flex justify-content-center mt-3" v-text="getContent('content-H16')"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Hung Update -->
    <div class="container-fluid bg-light mt-5">
        <div class="row">
            <div class="overflow-hidden col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                <h6 class="overflow-hidden fs-3 fw-bold text-dark text-center mb-3 mt-5" v-text="getContent('content-H17')"></h6>
                <p class="overflow-hidden text-dark col-sm-6 p-2 text-center col-lg-6 col-md-6" v-text="getContent('content-H18')"></p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="row row-cols-1 row-cols-md-2 g-2">
                        <div class="col">
                        <img class="p-1 img-fluid custom-img-size-1" :src="getImage('{{ url_for('static', filename='images/background/bg-4.jpg')}}')" alt="Image 1">
                        </div>
                        <div class="col order-md-1">
                        <img class="p-1 img-fluid custom-img-size-1" :src="getImage('{{ url_for('static', filename='images/background/bg-7.jpg')}}')" alt="Image 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
    </div>

<!-- Phần cuối  -->
    <div class="container-fluid bg-dark text-white py-5">
        <div class="row ms-5">
            <div class="col align-items-center ms-5">
                <h5 class="overflow-hidden text-white mt-3" v-text="getContent('content-H19')"></h5>
                <a :href="getImage('https://booking.easysalon.vn/leehairsalonq1')" class="btn btn-light custom-btn" tabindex="-1" role="button" target="_blank" v-text="getContent('content-H20')"></a>
                <h5 class="overflow-hidden text-white mt-4" v-text="getContent('content-H21')"></h5>
                <p v-text="getContent('content-H22')"></p>
                <h5 class="overflow-hidden text-white mt-4" v-text="getContent('content-H23')"></h5>
                <a :href="getImage('https://booking.easysalon.vn/leehairsalonq1')" class="bi bi-facebook" tabindex="-1" role="button" target="_blank"></a>
                
                
            </div>

        </div>
    </div>


            <!-- <p class="scroll-loading position-top-40-fix-1 position-left-15-fix-7 font-roboto-500 font-size-150-fix">
                📞0903617376
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                📞0908679635
            </p>
            <h1 class="scroll-loading position-top-47-fix position-left-15-fix-8 font-raleway-700 font-size-150-fix">
                Socials --> -->
            <!-- </h1>
            <a class="position-top-52-fix position-left-15-fix-9" href="https://www.facebook.com/hairsalonleephat/" target="_blank">
                <img class="scroll-loading img-size-5" src="../static/images/logo/facebook.png" loading="lazy">
            </a> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="position-top-52-fix-1 position-left-18-fix " href="https://www.instagram.com/lee.hair.salon/" target="_blank">
                <img class="scroll-loading img-size-5 " src="../static/images/logo/instagram.png" loading="lazy">
            </a>
            <h1 class="scroll-loading position-top-60-fix-1 position-left-15-fix-10 font-raleway-700 font-size-150-fix">
                Địa chỉ
            </h1>
            <p class="scroll-loading position-top-65-fix position-left-15-fix-11 font-roboto-400 font-size-150-fix">
                331 Trần Hưng Đạo, P. Cô Giang, Q.1, TP.HCM (không chi nhánh)
            </p> -->
            <!-- <div class="position-top-20-fix-3 position-left-60-fix">
            <iframe class="scroll-loading img-size-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62714.36512882214!2d106.61374354863281!3d10.761602000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f996fe9aeb3%3A0xe3b90a9306a1f228!2sLee%20Hair%20Salon!5e0!3m2!1svi!2s!4v1714388770401!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
        </div>
    </div>
<!-- continue -->


</div>
{% endblock html %}

{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
