{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}

{% block html %}
<div class="mt-5 mb-lg-4 mb-sm-5 mb-3">&#160;</div>
<div class="container-fluid">
    <div class="row overflow-hidden fixed-top mb-5">
        {% include 'navbar.html' %}
    </div>
    <div class="container-fluid bg-gray text-center">
          <!-- <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 d-flex justify-content-center mt-3 mb-3">
                <div class="card mx-3 my-3 w-100">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhairsalonleephat%2Fposts%2Fpfbid0jYECbjZE9dHmKa9PBksPzHX1uQhJm7eVgzqjZT93XJo9Xkqu2ySLPHfNAX8eeQGfl&show_text=true&width=500" width="500" height="674" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
              </div>
              <div class="col-md-6 d-flex justify-content-center mt-3 mb-3">
                <div class="card mx-3 my-3 w-100">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhairsalonleephat%2Fposts%2Fpfbid02n57d16mwNgy16GtAeDis9VpeqapFFtrtMpS8ULHfvrJA2Nrd5BQ9yg26C2ckDuedl&show_text=false&width=500" width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                </div>
              </div>
            </div>
          </div> -->
    </div> 

    {% include 'footer.html' %}
</div> 
    
{% endblock html %}

{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='function.js') }}"></script>
{% endblock %}