<div class="frame-w-100-mh-10 bg-4 position-top-10 ">
    <h1 class="animation-header position-top-30 line-height-center policy-letter-spacing font-size-180 font-raleway-500 text-color-3">
        CHÍNH SÁCH BẢO HÀNH
    </h1>
</div>
<div class="frame-w-100-mh-80 bg-3 position-top-20 ">
    <h1 class="animation-header position-top-2 line-height-center policy-letter-spacing font-size-120 font-raleway-500 text-color-2">
        Phiếu bảo hành áp dụng cho các dịch vụ
    </h1>
    <h1 class="animation-header position-top-7 line-height-center policy-letter-spacing font-size-120 font-raleway-500 text-color-2">
        UỐN / DUỖI / NHUỘM / TẨY
    </h1>
    <p class="animation-header position-top-12 position-left-15 font-size-100 font-roboto-400 text-color-2">
        1. Bảo hành cho các trường hợp lỗi từ phía Salon như:<br>
        * Kiểu tóc không đúng với tư vấn ban đầu (chênh lệch màu sắc, form uốn & độ thẳng của tóc duỗi).<br>
        2. Thời gian bảo hành là "30 ngày" từ ngày sử dụng dịch vụ.<br>
        3. Phiếu bảo hành có kèm tặng 1 lần gội & hấp phục hồi cao cấp ( sử dụng chung 1 lần - không tách lẻ).
    </p>
    <h1 class="animation-header position-top-30 line-height-center policy-letter-spacing font-size-120 font-raleway-600 text-color-2">
        LƯU Ý
    </h1>
    <p class="animation-header position-top-35 position-left-15 font-size-100 font-roboto-400 text-color-2">
        1. Kỹ thuật viên sẽ kiểm tra tình trạng cũng như chất tóc, sau đó tư vấn theo mong muốn của khách hàng sao cho kết quả cuối cùng phù hợp nhất với cam kết.<br>
        2. Chính sách bảo hánh sẽ áp dụng theo dịch vụ mà khách hàng sử dụng ban đầu.<br>
            * VD: Khách sử dụng dịch vụ "uốn + phục hồi" sẽ được bảo hành dịch vụ "uốn + phục hồi"<br>
        3. Với tóc nhuộm màu, khách hàng sẽ được gội bằng dầu gội giữ màu chuyên dụng để bảo vệ màu nhuộm cho khách hàng.
    </p>
    <h1 class="animation-header position-top-55 line-height-center font-size-120 font-raleway-650 text-color-2">
        LEE HAIR SALON luôn mong muốn mang đến cho quý khách hàng những trải nghiệm tốt nhất.
    </h1>
    <h1 class="animation-header position-top-60 line-height-center font-size-120 font-raleway-650 text-color-2">
        Hãy để lại phản hồi ngay nếu bạn chưa hài lòng nhé!.
    </h1>
    <h1 class="animation-header position-top-65 font-size-120 font-raleway-650 text-color-2 policy-inline">
        Gửi phản hồi tại:
        <a class="" href="https://www.facebook.com/hairsalonleephat/" target="_blank">
            <img class="animation-header img-size-17 policy-margin-left" src="../static/images/logo/facebook.png" loading="lazy">
        </a>
        &nbsp;&nbsp;
        <a class="" href="https://www.instagram.com/lee.hair.salon/" target="_blank">
            <img class="animation-header img-size-17 policy-margin-left" src="../static/images/logo/instagram.png" loading="lazy">
        </a>
    </h1>
    
    
</div>