<div class="frame-w-100-mh-90 position-top-0 service-img-center ">
    <img src="../static/images/price_list/img-8.jpg" class="animation-header img-size-12-fix position-top-5-fix">
<div class=" frame-w-100-mh-90 position-top-55 service-img-center">
    <img src="../static/images/price_list/img-1.jpg" class="animation-header img-size-16">
    <div class="margin-left-10-fix"></div>
    <img src="../static/images/price_list/img-2.jpg" class="animation-header img-size-16">
</div>
<div class="frame-w-100-mh-90 position-top-135 service-img-center">
    <img src="../static/images/price_list/img-3.jpg" class="scroll-loading img-size-16">
    <div class="margin-left-10-fix"></div>
    <img src="../static/images/price_list/img-4.jpg" class="scroll-loading img-size-16">
</div>
<div class="frame-w-100-mh-90 position-top-215 service-img-center">
    <img src="../static/images/price_list/img-5.jpg" class="scroll-loading img-size-16">
    <div class="margin-left-10-fix"></div>
    <img src="../static/images/price_list/img-6.jpg" alt="" class="scroll-loading img-size-16">
</div>

<div class="frame-w-100-mh-80-fix-3 position-top-305 bg-2">
    <h1 class="scroll-loading position-top-20-fix-1 position-left-15-fix-4 font-raleway-500 font-size-150-fix">
        Liên hệ và đặt hàng với Salon
    </h1>
    <a href="https://booking.easysalon.vn/leehairsalonq1" target="_blank">
    <button class="scroll-loading  position-top-25-fix-2 position-left-15-fix-5 btn font-size-100 font-roboto-500">Đặt lịch ngay</button>
    </a>
    <h1 class="scroll-loading position-top-35-fix-1 position-left-15-fix-6 font-raleway-500 font-size-150-fix">
        Hotline
    </h1>
    <p class="scroll-loading position-top-40-fix-1 position-left-15-fix-7 font-roboto-500 font-size-150-fix">
        📞0903617376
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        📞0908679635 
    </p>
    <h1 class="scroll-loading position-top-47-fix position-left-15-fix-8 font-raleway-500 font-size-150-fix">
        Socials
    </h1>
    <a class="position-top-52-fix position-left-15-fix-9" href="https://www.facebook.com/hairsalonleephat/" target="_blank">
        <img class="scroll-loading img-size-5" src="../static/images/logo/facebook.png" loading="lazy">
    </a>
    <a class="position-top-52-fix-1 position-left-18-fix " href="https://www.instagram.com/lee.hair.salon/" target="_blank">
        <img class="scroll-loading img-size-5 " src="../static/images/logo/instagram.png" loading="lazy">
    </a>
    <h1 class="scroll-loading position-top-60-fix position-left-15-fix-10 font-raleway-500 font-size-150-fix">
        Địa chỉ
    </h1>
    <p class="scroll-loading position-top-65-fix position-left-15-fix-11 font-roboto-400 font-size-130-fix">
        331 Trần Hưng Đạo, P. Cô Giang, Q.1, TP.HCM (không chi nhánh)
    </p>
    <div class="position-top-20-fix-2 position-left-60-fix">
    <iframe class="scroll-loading img-size-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62714.36512882214!2d106.61374354863281!3d10.761602000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f996fe9aeb3%3A0xe3b90a9306a1f228!2sLee%20Hair%20Salon!5e0!3m2!1svi!2s!4v1714388770401!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
